<div class="page">
    
    <div class="ui-timline-container">
        <section class="ui-timeline">
            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-caption">
                            <a href="javascript:;" class="btn btn-primary btn-block">Today</a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">3 min ago</div>
                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info"><i class="ti-shine"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-primary">Go hiking</h4>
                            <p>Consectetur adipisicing elit. Error, accusantium debitis voluptatem dolore excepturi ducimus fugiat nulla perspiciatis quo ipsum non eligendi nisi veniam maxime in quas atque omnis cumque!</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item alt">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">1 hour ago</div>
                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-warning"><i class="ti-shopping-cart"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-danger">Buy some toys</h4>
                            <p>Ullam, commodi, modi, impedit nostrum odio sit odit necessitatibus accusantium enim voluptates culpa cupiditate cum pariatur a recusandae tenetur aspernatur at beatae.</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">3 hours ago</div>
                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-success"><i class="ti-camera"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-warning">Soluta nihil</h4>
                            <p>Incidunt, molestias odio soluta nihil accusantium sit nostrum doloremque. Recusandae, ullam, odio consequatur facere totam reiciendis similique dicta explicabo!</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item alt">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">7 hours ago</div>
                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-danger"><i class="ti-check"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-success">Odio sit odit necessitatibus</h4>
                            <p>Ullam, commodi, modi, impedit nostrum odio sit odit necessitatibus accusantium enim voluptates culpa cupiditate cum pariatur a recusandae tenetur aspernatur at beatae.</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">10 hours ago</div>
                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-primary"><i class="ti-alarm-clock"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-info">Accusantium sint</h4>
                            <p>Ipsam, minus, quam, sit officiis accusantium sint voluptates voluptatibus minima cum non quos corrupti dolorem eligendi modi eius magnam unde!</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-caption">
                            <a href="javascript:;" class="btn btn-danger btn-block">Yesterday</a>
                        </div>
                    </div>
                </div>
            </article>


            <article class="tl-item alt">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">8:30 PM</div>
                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-warning"><i class="ti-more-alt"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile">Enim asperiores facere</h4>
                            <p>Odit, iusto, dolorem, aut ipsum rem atque enim asperiores facere tempore explicabo omnis corporis hic! Molestias, dolores, iure esse at illo aliquam temporibus in eum cupiditate magni velit eveniet unde facilis quisquam numquam nihil atque tempore vitae porro maxime repellendus quas a sit repellat delectus expedita nam natus fugiat ut ipsam eaque voluptates omnis ratione?</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">7:00 PM</div>
                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-success"><i class="ti-time"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-warning">Illum veniam atque</h4>
                            <p>Illum veniam atque iste voluptatem eos saepe quisquam aperiam voluptatum sunt.</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item alt">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">12:55 PM</div>
                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-danger"><i class="ti-folder"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-success">Voluptas molestias</h4>
                            <p>At, veniam, officia pariatur voluptas molestias nobis distinctio quo temporibus! Nisi, fugit, ipsum, veritatis, optio consectetur nam molestiae quidem placeat deleniti animi ad nobis iure modi eius recusandae odio adipisci nesciunt.</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">10:13 AM</div>
                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-primary"><i class="ti-email"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-info">Nulla magni sequi</h4>
                            <p>Laborum, ducimus, perferendis nulla magni sequi cumque nisi eum praesentium omnis voluptas id molestias adipisci accusamus nobis totam. Odit, hic suscipit necessitatibus quos</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item alt">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">9:10 AM</div>
                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info"><i class="ti-gift"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-primary">Sed cumque temporibus</h4>
                            <p>Deserunt sed cumque temporibus. Doloribus, iste, sit recusandae fugiat assumenda ea magni at doloremque ipsum amet molestias error mollitia maxime ad alias eos id cumque corporis placeat nisi a quaerat nemo magnam ab numquam ratione facere dolorum. Cumque, dolores, sint molestiae eaque quibusdam illo error!</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-caption">
                            <a href="javascript:;" class="btn btn-danger btn-block">Older</a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">23 September 2014</div>
                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info"><i class="ti-gift"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-primary">Sed cumque temporibus</h4>
                            <p>Deserunt sed cumque temporibus. Doloribus, iste, sit recusandae fugiat assumenda ea magni at doloremque ipsum amet molestias error mollitia maxime ad alias eos id cumque corporis placeat nisi a quaerat nemo magnam ab numquam ratione facere dolorum. Cumque, dolores, sint molestiae eaque quibusdam illo error!</p>
                            <small>Michael Schuler</small>
                        </div>
                    </div>
                </div>
            </article>

        </section>
    </div>

</div>