<div class="page-err">
    <div class="err-container text-center">
        <div class="err">
            <h1>{{ "404_title" | translate }}</h1>
            <h2>{{ "404_description" | translate }}</h2>
        </div>

        <div class="err-body">
            <a href="#/" class="btn btn-lg btn-goback">
                <span class="ti-home"></span>
                <span class="space"></span>
                {{ "404_goback" | translate }}
            </a>
        </div>
    </div>
</div>