<div class="page-err">
    <div class="err-container text-center">
        <div class="err">
            <h1>{{ "500_title" | translate }}</h1>
            <h2>{{ "500_description" | translate }}</h2>
            <h3 ng-if="showMessage">
                {{ "500_guid" | translate }}
            </h3>
            <h3 ng-if="showMessage">
                <strong ng-bind="id"></strong>
            </h3>
        </div>

        <div class="err-body">
            <a href="#/" class="btn btn-lg btn-goback">
                <span class="ti-home"></span>
                <span class="space"></span>
                {{ "500_goback" | translate }}
            </a>
        </div>
    </div>
</div>

