﻿<div class="modal-header">
    <h3 class="modal-title">{{::"add_u2fdevice_title" | translate }}</h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb-alt">
                <li ng-class="{active: currentStep === 0}" ng-click="goToStep(0)"><a>{{::"add_u2fdevice_step_0_password" | translate }}</a></li>
                <li ng-class="{active: currentStep === 1}" ng-click="goToStep(1)"><a>{{::"add_u2fdevice_step_1_register" | translate }}</a></li>
            </ol>
        </div>
    </div>

    <div class="row well" ng-show="currentStep === 0">
        <div class="col-md-12">
            <h4>{{::"add_u2fdevice_step_0_password" | translate }}</h4>
            <div class="form-group">
                <label>{{::"2nd_factor_step_1_check_1" | translate }}</label>
                <input type="password" class="form-control" ng-model="password">
            </div>
        </div>
    </div>

    <div class="row well" ng-show="currentStep === 1">
        <div class="col-md-12">
            <h4>{{::"add_u2fdevice_step_1_register" | translate }}</h4>
            <p>{{::"add_u2fdevice_step_1_register_1" | translate }}</p>
        </div>
        <div class="callout callout-danger col-md-12" ng-show="isError" style="margin-top: 5px;">
            <p>{{::"add_u2fdevice_step_1_register_error" | translate }}</p>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">{{::"close" | translate }}</button>
    <button class="btn btn-default" ng-click="back()" ng-show="currentStep === 1">{{::"back" | translate }}</button>
    <button class="btn btn-primary" ng-click="next()" ng-show="currentStep === 0">{{::"2nd_factor_step_0_next" | translate }}</button>
    <button class="btn btn-primary" ng-click="save()" ng-disabled="!isValid" ng-show="currentStep === 1">{{::"save" | translate }}</button>
</div>