﻿<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Blank Page</strong></div>
        <div class="panel-body">
            <p>Content goes here</p>
        </div>
    </section> 

</div>