﻿<div class="modal-header">
    <h3 class="modal-title">{{::"2nd_factor_enable_title" | translate }}</h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb-alt">
                <li ng-class="{active: currentStep === 0}" ng-click="goToStep(0)"><a>{{::"2nd_factor_step_0_setup" | translate }}</a></li>
                <li ng-class="{active: currentStep === 1}" ng-click="goToStep(1)"><a>{{::"2nd_factor_step_1_check" | translate }}</a></li>
            </ol>
        </div>
    </div>

    <div class="row well" ng-show="currentStep === 0">
        <div class="col-md-12">
            <h4>{{::"2nd_factor_step_0_setup" | translate }}</h4>
        </div>
        <div style="width:170px;padding-left:15px;float:left;height:160px">
            <img ng-src="{{qr}}" height="150" width="150" />
        </div>
        <div style="float:left;width:100%;padding-left:170px;position:relative;top:-160px; height:180px;margin-bottom:-180px;">
            <ol>
                <li>
                    {{ "2nd_factor_step_0_setup_1" | translate }}
                    <ul>
                        <li><a href="https://itunes.apple.com/de/app/google-authenticator/id388497605" target="_blank">iPhone</a></li>
                        <li><a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">Android</a></li>
                        <li><a href="https://www.microsoft.com/en-US/store/apps/Authenticator/9WZDNCRFJ3RJ" target="_blank">Windows Phone</a></li>
                    </ul>
                </li>
                <li>
                    {{ "2nd_factor_step_0_setup_2" | translate }}
                </li>
                <li>
                    {{ "2nd_factor_step_0_setup_3" | translate }}<br />
                    {{ secret }}
                </li>
            </ol>
        </div>
    </div>

    <div class="row well" ng-show="currentStep === 1">
        <div class="col-md-12">
            <h4>{{::"2nd_factor_step_1_check" | translate }}</h4>
            <div class="form-group">
                <label>{{ "2nd_factor_step_1_check_1" | translate }}</label>
                <input type="password" class="form-control" ng-model="password">
            </div>
            <div class="form-group">
                <label>{{ "2nd_factor_step_1_check_2" | translate }}</label>
                <input type="text" class="form-control" ng-model="code">
            </div>
        </div>
        <div class="callout callout-danger col-md-12" ng-show="isError" style="margin-top: 5px;">
            <p>{{::"2nd_factor_step_1_error" | translate }}</p>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">{{::"close" | translate }}</button>
    <button class="btn btn-default" ng-click="back()" ng-show="currentStep === 1">{{::"back" | translate }}</button>
    <button class="btn btn-primary" ng-click="next()" ng-show="currentStep === 0">{{::"2nd_factor_step_0_next" | translate }}</button>
    <button class="btn btn-primary" ng-click="save()" ng-disabled="code.length !== 6" ng-show="currentStep === 1">{{::"save" | translate }}</button>
</div>