<div class="page page-lock">

    <div class="lock-centered clearfix">
        <div class="lock-container" ng-controller="AuthenticationController">
            <!-- <div ui-time class="lock-time"></div> -->

            <div class="profile"><img ng-src="//www.gravatar.com/avatar/{{ currentUser.email | gravatar }}?s=80" alt=""></div>

            <form class="lock-form">
                <p class="name">{{currentUser.userName}}</p>
                <input type="password" placeholder="Password..." class="form-control" ng-model="loginForm.password" autofocus>
                <a ng-click="unlock()" class="btn-icon btn-icon-round btn-icon-lg btn-primary btn-submit">
                    <span class="ti-unlock"></span>
                </a>
            </form>

        </div>
    </div>
</div>