
<div class="page page-profile" ng-controller="AuthenticationController">

    <header class="profile-header">
        <div class="profile-img">
            <img alt="" ng-src="//www.gravatar.com/avatar/{{ currentUser.email | gravatar }}?s=120" class="img-circle">
        </div>
    </header>


    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> {{ 'profile' | translate }}</strong></div>
        <div class="panel-body">
            <div class="media">
                <div class="media-body">
                    <ul class="list-unstyled list-info">
                        <li>
                            <span class="icon glyphicon glyphicon-user"></span>
                            <label>{{ 'name' | translate }}</label>
                            {{currentUser.name}}
                            <a class="btn btn-tree-action btn-xs btn-default" ng-click="changeName()"><span class="glyphicon glyphicon-pencil" title="{{ 'change_name' | translate }}"></span></a>
                        </li>
                        <li>
                            <span class="icon glyphicon glyphicon-envelope"></span>
                            <label>{{ 'email_address' | translate }}</label>
                            {{currentUser.email}}
                        </li>
                        <li>
                            <span class="icon glyphicon glyphicon-lock"></span>
                            <label>{{ 'password' | translate }}</label>
                            &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
                            <a class="btn btn-tree-action btn-xs btn-default" ng-click="changePassword()"><span class="glyphicon glyphicon-pencil" title="{{ 'change_password' | translate }}"></span></a>
                        </li>
                        <li>
                            <span class="icon glyphicon glyphicon-time"></span>
                            <label>{{ '2nd_factor' | translate }}</label>
                            <span ng-show="currentUser.isTotp">{{ '2nd_factor_enabled' | translate }}</span>
                            <span ng-show="!currentUser.isTotp">{{ '2nd_factor_disabled' | translate }}</span>
                            <a ng-show="!currentUser.isTotp" class="btn btn-xs btn-default" ng-click="enable2ndFactor()"><span>{{ '2nd_factor_enable' | translate }}</span></a>
                            <a ng-show="currentUser.isTotp" class="btn btn-xs btn-default" ng-click="disable2ndFactor()"><span>{{ '2nd_factor_disable' | translate }}</span></a>
                        </li>
                        <li ng-if="currentUser.isTotp && isChrome">
                            <span class="icon glyphicon glyphicon-wrench"></span>
                            <label>{{ 'u2f_devices' | translate }}</label>
                            <span>{{ devices }}</span>
                            <a class="btn btn-xs btn-default" ng-click="addU2FDevice()"><span>{{ 'add_u2f_device' | translate }}</span></a>
                            <a ng-if="devices > 0" class="btn btn-xs btn-default" ng-click="removeU2FDevice()"><span>{{ 'remove_u2f_device' | translate }}</span></a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span translate="Eventlog"></span></strong></div>
        <div class="panel-body">

            <div class="ui-timline-container">
                <section class="ui-timeline">

                    <div infinite-scroll='nextPage()' infinite-scroll-disabled='isBusy' infinite-scroll-distance='1'>
                        <article class="tl-item" ng-class="{alt: $odd}" ng-repeat="event in events">
                            <div class="tl-body">
                                <div class="tl-entry">
                                    <div class="tl-time" am-time-ago="event.date" title="{{event.date | amCalendar}}"></div>
                                    <div class="tl-icon btn-icon-round btn-icon btn-icon-thin">
                                        <img ng-src="//www.gravatar.com/avatar/{{ event.user.emailHash }}?s=35&d=mm" alt="" class="img-circle" />
                                    </div>
                                    <div class="tl-content">
                                        <h4 class="tl-tile text-primary"><a ng-href="#/system/eventlog/{{event.aggregateType}}/{{event.aggregateId}}">{{event.type}}</a></h4>
                                        <p ng-bind-html="event.description"></p>
                                        <p>- {{event.user.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                </section>

                <div style="text-align: center;">
                    <div ng-show='isBusy' style="display: inline-block;">
                        <div class="alert alert-warning" role="alert">
                            <i class="fa fa-spinner fa-pulse"></i> <strong>{{ 'loading_data' | translate }}&hellip;</strong>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
