<div class="page-signin">

    <div class="signin-header">
        <section class="logo text-center">
            <h1>{{main.brand}}<small> v3.&beta;</small></h1>
        </section>
    </div>

    <div class="signin-body">
        <div class="container">
            <div class="form-container">

                <form name="signinForm" class="form-horizontal" novalidate>
                    <fieldset>
                        <div class="form-group" ng-if="isError">
                            <div class="alert alert-danger" role="alert">
                                <strong>{{ 'invalid_username_or_password' | translate }}</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="ti-email"></span>
                                </span>
                                <input type="text" name="username" class="form-control input-lg" placeholder="{{ 'email_address' | translate }}" ng-model="loginForm.username" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-lock"></span>
                                </span>
                                <input type="password" name="password" class="form-control input-lg" placeholder="{{ 'password' | translate }}" ng-model="loginForm.password" required>
                            </div>
                        </div>
                        <div class="form-group" ng-if="isTotp">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-timer"></span>
                                </span>
                                <input type="password" name="totp" class="form-control input-lg" placeholder="{{ '2nd_factor_code' | translate }}" ng-model="loginForm.totp" required>
                            </div>
                        </div>
                        <div class="divider divider-xl"></div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block text-center" ng-disabled="signinForm.$invalid" ng-click="tryLogin()">{{ 'log_in' | translate }}</button>
                        </div>
                    </fieldset>
                </form>
                
            </div>
        </div>
    </div>
</div>