﻿<div class="modal-header">
    <h3 class="modal-title">{{::"create_file_store" | translate }}</h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group" style="margin-bottom: 0;">
                    <label for="fsp" class="col-sm-3 control-label">{{::'file_store_provider' | translate }}</label>
                    <div class="col-md-9">
                        <select id="fsp" class="form-control" ng-model="selectedFactory" ng-options="o as o.name for o in factories"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <hr ng-if="selectedFactory.id" />
    
    <div class="row" ng-if="selectedFactory.id">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group" style="margin-bottom: 0;">
                    <label for="fsn" class="col-sm-3 control-label">{{::'name' | translate }}</label>
                    <div class="col-md-9">
                        <input type="text" ng-model="fileStore.name" class="form-control" id="fsn">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr ng-if="selectedFactory.id" />

    <div class="row" ng-if="selectedFactory.id">
        <div class="col-md-12">
            <div class="form-horizontal">

                <div class="form-group" style="margin-bottom: 5px;" ng-repeat="s in settings">
                    <label for="fss{{$index}}" class="col-sm-3 control-label">{{ s }}</label>
                    <div class="col-md-9">
                        <input type="text" ng-model="fileStore.settings[s]" class="form-control" id="fss{{$index}}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button ng-click="validate()" class="btn {{validationClass}}">{{::"Validate" | translate }}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{::'ok' | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{::'cancel' | translate }}</button>
</div>
