﻿<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span translate="File stores"></span></strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" ng-click="create()">
                        <span class="glyphicon glyphicon-plus"></span> {{ 'create_file_store' | translate }}
                    </button>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">

                <div class="col-md-12" ng-show="fileStores.length > 0">
                    <div class="angular-ui-tree-handle" ng-repeat="node in fileStores | orderBy:'name'" ng-class="{'selected': node.id == selectedFileStore.id}">
                        <a class="btn btn-xs" ng-click="selectFileStore(node)">
                            <img ng-src="{{node.icon}}" style="max-height: 16px; max-width: 16px;" />
                        </a>
                        <span ng-click="selectFileStore(node)" style="cursor:pointer;" ng-bind="node.name"></span>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>