﻿<div class="modal-header">
    <h3 class="modal-title">{{subject}}</h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group" style="margin-bottom: 5px;">
                    <label for="radt" class="col-sm-3 control-label">{{ 'title' | translate }}</label>
                    <div class="col-md-9">
                        <input type="text" ng-model="message.title" class="form-control" id="radt">
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 5px;">
                    <label for="radl" class="col-sm-3 control-label">{{ 'message' | translate }}</label>
                    <div class="col-md-9">
                        <input type="text" ng-model="message.message" class="form-control" id="radl">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="col-sm-3 control-label">{{ 'start' | translate }}</label>
                    <div class="col-md-6">
                        <p class="input-group" style="margin-bottom: 0;">
                            <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="startDateOpened" ng-model="message.startDatePicker" datepicker-options="dateOptions" ng-required="true" close-text="{{ 'close' | translate }}" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openStartDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" ng-model="message.startTime" typeahead="time for time in times | filter:$viewValue | limitTo:8" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="col-sm-3 control-label">{{ 'end' | translate }}</label>
                    <div class="col-md-6">
                        <p class="input-group" style="margin-bottom: 0;">
                            <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="endDateOpened" ng-model="message.endDatePicker" datepicker-options="dateOptions" ng-required="false" close-text="{{ 'close' | translate }}" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" ng-model="message.endTime" typeahead="time for time in times | filter:$viewValue | limitTo:8" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 0;">
                    <label for="radd" class="col-sm-3 control-label">{{ 'duration' | translate }}</label>
                    <div class="col-md-9 col-sm-9">
                        <p class="form-control-static">
                            {{ duration }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ 'ok' | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ 'cancel' | translate }}</button>
</div>
