﻿<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span translate="System messages"></span></strong></div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">

                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nv-expand-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="nv-expand-collapse">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a ng-click="create()">
                                            <span class="glyphicon glyphicon-plus"></span> {{ 'create_system_message' | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-show="messages.length > 0">
                    <div class="angular-ui-tree-handle" ng-repeat="node in messages" ng-class="{'selected': node.id == selectedMessage.id}">
                        <span ng-click="select(node)" style="cursor:pointer;">
                            <span ng-bind="node.title"></span>
                            [<span ng-bind="node.validity"></span>]
                        </span>
                        <a class="btn btn-tree-action btn-xs btn-default" ng-click="edit(node)"><span class="glyphicon glyphicon-pencil" title="{{ 'edit_system_message' | translate }}"></span></a>
                        <a class="btn btn-tree-action btn-xs btn-default" ng-click="delete(node)"><span class="glyphicon glyphicon-trash" title="{{ 'delete_system_message' | translate }}"></span></a>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
