﻿<div class="page">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span translate="Serverlog"></span></strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover" id="log-table">
                        <thead>
                            <tr>
                                <th>{{ 'date_and_time' | translate }}</th>
                                <th>{{ 'level' | translate }}</th>
                                <th>{{ 'message' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section> 
</div>