﻿<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span translate="Email Configuration"></span></strong>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" click-and-wait="saveEmail()">
                        <span class="glyphicon glyphicon-floppy-disk"></span> {{ 'save' | translate }}
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>{{ 'email_and_smtp' | translate }}</h3>
                </div>
                <form class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="ec1">{{ 'email_address' | translate }}</label>
                        <input type="email" class="form-control" id="ec1" ng-model="email.emailAddress" ng-model-options="{updateOn: 'blur'}"/>
                    </div>
                    <div class="form-group">
                        <label for="ec2">{{ 'response_address' | translate }}</label>
                        <input type="email" class="form-control" id="ec2" ng-model="email.responseAddress"/>
                    </div>
                    <div class="form-group">
                        <label for="ec3">{{ 'smtp_host' | translate }}</label>
                        <input type="text" class="form-control" id="ec3" ng-model="email.host"/>
                    </div>
                    <div class="form-group">
                        <label for="ec4">{{ 'smtp_port' | translate }}</label>
                        <input type="number" class="form-control" id="ec4" ng-model="email.port"/>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>{{ 'authentication' | translate }}</h3>
                </div>
                <form class="col-sm-12 col-md-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="email.isSmtpAuthenticationRequired"> {{ 'use_smtp_authentication' | translate }}
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="ec5">{{ 'smtp_username' | translate }}</label>
                        <input type="text" class="form-control" id="ec5" ng-model="email.smtpUsername" ng-disabled="!email.isSmtpAuthenticationRequired"/>
                    </div>
                    <div class="form-group">
                        <label for="ec6">{{ 'smtp_password' | translate }}</label>
                        <input type="password" class="form-control" id="ec6" ng-model="email.smtpPassword" ng-disabled="!email.isSmtpAuthenticationRequired"/>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="email.isSslUsedForAuthentication" ng-disabled="!email.isSmtpAuthenticationRequired"> {{ 'use_ssl_for_authentication' | translate }}
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-th"></span>
                <span translate="url_shortener_configuration_title"></span>
            </strong>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" click-and-wait="saveUrl()">
                        <span class="glyphicon glyphicon-floppy-disk"></span> {{ 'save' | translate }}
                    </button>
                    <button type="button" class="btn btn-primary" click-and-wait="verifyUrl()">
                        <span class="glyphicon glyphicon-ok"></span> {{ 'verify_url_shortening_configuration' | translate }}
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>{{ 'current_url_shortener' | translate }}</h3>
                </div>
                <form class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="us1">{{ 'selected_url_shortener' | translate }}</label>
                        <select id="us1" class="form-control" ng-model="urlShortener.selection" ng-options="o as o.name for o in urlShortener.services"></select>
                    </div>
                </form>
            </div>
            <div class="row" ng-if="urlShortener.configuration && urlShortener.configuration.length > 0">
                <div class="col-md-12">
                    <h3>{{ 'url_shortener_configuration' | translate }}</h3>
                </div>
                <form class="col-sm-12 col-md-6">
                    <div class="form-group" ng-repeat="c in urlShortener.configuration">
                        <label for="usc{{$index}}">{{ c.key }}</label>
                        <input type="text" ng-model="c.value" id="usc{{$index}}" class="form-control" />
                    </div>
                </form>
            </div>
        </div>
    </section>

</div>