﻿<div class="modal-header">
    <h3 class="modal-title">{{subject}}</h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group" style="margin-bottom: 5px;">
                    <label for="radt" class="col-sm-2 control-label">{{ "title" | translate }}</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="appointment.title" class="form-control" id="radt">
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 5px;">
                    <label for="radl" class="col-sm-2 control-label">{{ "location" | translate }}</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="appointment.location" class="form-control" id="radl">
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="appointment.isHighlight" /> {{ "is_highlight" | translate}} 
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 0">
                    <label for="radc" class="col-sm-2 control-label">{{ "categories" | translate }}</label>
                    <div class="col-md-10">
                        <tags-input id="radc" display-property="name" placeholder="{{ 'add_category' | translate }}" ng-model="appointment.categories" add-from-autocomplete-only="true">
                            <auto-complete load-on-down-arrow="true" load-on-empty="true" load-on-focus="true" source="searchCategories($query)">
                            </auto-complete>
                        </tags-input>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group" style="margin-bottom: 0;">
                    <label class="col-md-2 control-label">{{ "link" | translate }}</label>
                    <div class="col-md-10">
                        <div class="input-group" style="margin-bottom: 5px;">
                            <span class="input-group-addon">
                                <input type="radio" ng-model="appointment.link.linkType" value="none">
                            </span>
                            <input type="text" disabled value="{{ 'add_no_link' | translate }}" class="form-control">
                        </div>
                        <div class="input-group" style="margin-bottom: 5px;">
                            <span class="input-group-addon">
                                <input type="radio" ng-model="appointment.link.linkType" value="page">
                            </span>
                            <input type="text" ng-model="appointment.link.pageLink" ng-disabled="appointment.link.linkType != 'page'" placeholder="{{ 'add_page_link' | translate }}" typeahead="page as page.fullname for page in getPages($viewValue)" typeahead-loading="loadingPages" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="browsePage()" type="button" ng-disabled="appointment.link.linkType != 'page'">{{ "browse" | translate }}&hellip;</button>
                            </span>
                        </div>
                        <div class="input-group" style="margin-bottom: 0;">
                            <span class="input-group-addon">
                                <input type="radio" ng-model="appointment.link.linkType" value="external">
                            </span>
                            <input type="text" placeholder="{{ 'add_external_link' | translate }}" ng-disabled="appointment.link.linkType != 'external'" ng-model="appointment.link.externalLink" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="col-sm-2 control-label">{{ "start" | translate }}</label>
                    <div class="col-md-3 col-sm-6">
                        <p class="input-group" style="margin-bottom: 0;">
                            <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="startDateOpened" ng-model="appointment.startDatePicker" datepicker-options="dateOptions" ng-required="true" close-text="{{ 'close' | translate }}" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openStartDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="input-group">
                            <input type="text" ng-model="appointment.startTime" typeahead="time for time in times | filter:$viewValue | limitTo:8" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="col-sm-2 control-label">{{ "end" | translate }}</label>
                    <div class="col-md-3 col-sm-6">
                        <p class="input-group" style="margin-bottom: 0;">
                            <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="endDateOpened" ng-model="appointment.endDatePicker" datepicker-options="dateOptions" ng-required="false" close-text="{{ 'close' | translate }}" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="input-group">
                            <input type="text" ng-model="appointment.endTime" typeahead="time for time in times | filter:$viewValue | limitTo:8" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 0;">
                    <label for="radd" class="col-sm-2 control-label">{{ "duration" | translate }}</label>
                    <div class="col-md-5 col-sm-10">
                        <p class="form-control-static">
                            {{ duration }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ "ok" | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ "cancel" | translate }}</button>
</div>