﻿<div class="page">
    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span translate="Appointments"></span></strong></div>
        <div class="panel-body">
            <div class="row" style="margin-bottom: 15px;">

                <div class="col-md-12">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group" dropdown ng-if="canEdit">
                            <button type="button" class="btn btn-default" ng-click="createAppointment()">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ "create_appointment" | translate }}
                            </button>
                            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                                <span class="caret"></span>
                                <span class="sr-only">Split button!</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="createRecurrentAppointment()">{{ "create_recurrent_appointment" | translate }}</a></li>
                            </ul>
                        </div>
                        <button class="btn btn-default" type="button" ng-click="import()" ng-if="canEdit">
                            <span class="glyphicon glyphicon-import" aria-hidden="true"></span> {{ "import" | translate}}
                        </button>
                    </div>
                </div>

                <div class="col-md-12">
                    <table class="table table-hover selectable" infinite-scroll='nextPage()' infinite-scroll-disabled='isBusy' infinite-scroll-distance='1'>
                        <thead>
                            <tr>
                                <th style="width: 90px;">&nbsp;</th>
                                <th>{{ "start" | translate }}</th>
                                <th>{{ "end" | translate }}</th>
                                <th>{{ "title" | translate }}</th>
                                <th>{{ "location" | translate }}</th>
                                <th style="width: 90px;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="appointment in appointments">
                                <td ng-click="select(appointment)" ng-class="{selected: appointment.appointmentId == selectedAppointment.appointmentId}">
                                    <span class="glyphicon" ng-class="{'glyphicon-time': appointment.isSingleOccurrence, 'glyphicon-repeat': !appointment.isSingleOccurrence}"></span>
                                    <span ng-show="appointment.isHighlight" class="glyphicon glyphicon-star-empty"></span>
                                </td>
                                <td ng-click="select(appointment)" ng-class="{selected: appointment.appointmentId == selectedAppointment.appointmentId}">{{ appointment.start | amDateFormat:'LLL' }}</td>
                                <td ng-click="select(appointment)" ng-class="{selected: appointment.appointmentId == selectedAppointment.appointmentId}">{{ appointment.end | amDateFormat:'LLL' }}</td>
                                <td ng-click="select(appointment)" ng-class="{selected: appointment.appointmentId == selectedAppointment.appointmentId}">{{ appointment.title }}</td>
                                <td ng-click="select(appointment)" ng-class="{selected: appointment.appointmentId == selectedAppointment.appointmentId}">{{ appointment.location }}</td>
                                <td ng-class="{selected: appointment.appointmentId == selectedAppointment.appointmentId}">
                                    <a ng-show="canEdit" class="btn btn-tree-action btn-xs btn-default" ng-click="edit(appointment)"><span class="glyphicon glyphicon-pencil" title="{{ 'edit_appointment' | translate }}"></span></a>
                                    <a ng-show="canAdmin" class="btn btn-tree-action btn-xs btn-default" ng-click="delete(appointment)"><span class="glyphicon glyphicon-trash" title="{{ 'delete_appointment' | translate }}"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-md-12">
                    <div style="text-align: center;">
                        <div ng-show='isBusy' style="display: inline-block;">
                            <button class="btn btn-danger" ng-disabled="true">
                                <i class="fa fa-spinner fa-pulse"></i> {{ "loading_more_appointments" | translate }}
                            </button>
                        </div>
                        <div ng-hide="isBusy">
                            <button class="btn btn-danger" ng-click="nextPage()">
                                {{ "load_more_appointments" | translate }}
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            {{ form | json}}

        </div>
    </div>

</div>