﻿<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span translate="Categories"></span></strong></div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">

                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nv-expand-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="nv-expand-collapse">
                                <ul class="nav navbar-nav">
                                    <li ng-if="canEdit">
                                        <a ng-click="create()">
                                            <span class="glyphicon glyphicon-plus"></span> {{ "create_calendar_category" | translate }}
                                        </a>
                                    </li>
                                </ul>
                                <form class="navbar-form navbar-right" role="search">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                        <input type="text" ng-model="searchText" class="form-control" placeholder="{{ 'search' | translate }}">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" ng-show="categories.length > 0">
                    <div class="angular-ui-tree-handle" ng-repeat="node in categories | orderBy:'name' | filter:searchText" ng-class="{'selected': node.name == selectedCategory.name}">
                        <span ng-click="select(node)" style="cursor:pointer;">
                            <span ng-bind-html="node.name | highlight:searchText:false"></span>
                        </span>
                        <a ng-show="canEdit" class="btn btn-tree-action btn-xs btn-default" ng-click="rename(node)"><span class="glyphicon glyphicon-font" title='{{ "rename_calendar_category" | translate }}'></span></a>
                        <a ng-show="canAdmin" class="btn btn-tree-action btn-xs btn-default" ng-click="delete(node)"><span class="glyphicon glyphicon-trash" title='{{ "delete_calendar_category" | translate }}'></span></a>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>