﻿<div class="modal-header">
    <h3 class="modal-title">{{subject}}</h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group" style="margin-bottom: 5px;">
                    <label for="radt" class="col-sm-2 control-label">{{ "title" | translate }}</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="appointment.title" class="form-control" id="radt">
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 5px;">
                    <label for="radl" class="col-sm-2 control-label">{{ "location" | translate }}</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="appointment.location" class="form-control" id="radl">
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="appointment.isHighlight" /> {{ "is_highlight" | translate }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 0;">
                    <label for="radc" class="col-sm-2 control-label">{{ "categories" | translate }}</label>
                    <div class="col-md-10">
                        <tags-input id="radc" display-property="name" placeholder="{{ 'add_category' | translate }}" ng-model="appointment.categories" add-from-autocomplete-only="true">
                            <auto-complete load-on-down-arrow="true" load-on-empty="true" load-on-focus="true" source="searchCategories($query)">
                            </auto-complete>
                        </tags-input>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group" style="margin-bottom: 0;">
                    <label class="col-md-2 control-label">{{ "link" | translate }}</label>
                    <div class="col-md-10">
                        <div class="input-group" style="margin-bottom: 5px;">
                            <span class="input-group-addon">
                                <input type="radio" ng-model="appointment.link.linkType" value="none">
                            </span>
                            <input type="text" disabled value="{{ 'add_no_link' | translate }}" class="form-control">
                        </div>
                        <div class="input-group" style="margin-bottom: 5px;">
                            <span class="input-group-addon">
                                <input type="radio" ng-model="appointment.link.linkType" value="page">
                            </span>
                            <input type="text" ng-model="appointment.link.pageLink" ng-disabled="appointment.link.linkType != 'page'" placeholder="{{ 'add_page_link' | translate }}" typeahead="page as page.fullname for page in getPages($viewValue)" typeahead-loading="loadingPages" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="browsePage()" type="button" ng-disabled="appointment.link.linkType != 'page'">{{ "browse" | translate }}&hellip;</button>
                            </span>
                        </div>
                        <div class="input-group" style="margin-bottom: 0;">
                            <span class="input-group-addon">
                                <input type="radio" ng-model="appointment.link.linkType" value="external">
                            </span>
                            <input type="text" placeholder="{{ 'add_external_link' | translate }}" ng-disabled="appointment.link.linkType != 'external'" ng-model="appointment.link.externalLink" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="col-sm-2 control-label">{{ "start" | translate }}</label>
                    <div class="col-md-3 col-sm-6">
                        <p class="input-group" style="margin-bottom: 0;">
                            <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="startDateOpened" ng-model="appointment.startDatePicker" datepicker-options="dateOptions" ng-required="true" close-text="{{ 'close' | translate }}" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openStartDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="input-group">
                            <input type="text" ng-model="appointment.startTime" typeahead="time for time in times | filter:$viewValue | limitTo:8" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="col-sm-2 control-label">{{ "end" | translate }}</label>
                    <div class="col-md-3 col-sm-6">
                        <p class="input-group" style="margin-bottom: 0;">
                            <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="endDateOpened" ng-model="appointment.endDatePicker" datepicker-options="dateOptions" ng-required="false" close-text="{{ 'close' | translate }}" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="input-group">
                            <input type="text" ng-model="appointment.endTime" typeahead="time for time in times | filter:$viewValue | limitTo:8" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 0;">
                    <label for="radd" class="col-sm-2 control-label">{{ "duration" | translate }}</label>
                    <div class="col-md-5 col-sm-10">
                        <p class="form-control-static">
                            {{ duration }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2" style="border-right: #e5e5e5 solid 1px;">
                <div class="radio">
                    <label>
                        <input type="radio" value="daily" ng-model="appointment.recurrence">
                        {{ "daily" | translate }}
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" value="weekly" ng-model="appointment.recurrence">
                        {{ "weekly" | translate }}
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" value="monthly" ng-model="appointment.recurrence">
                        {{ "monthly" | translate }}
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" value="yearly" ng-model="appointment.recurrence">
                        {{ "yearly" | translate }}
                    </label>
                </div>
            </div>

            <div class="col-md-10">
                <div ng-if="appointment.recurrence === 'daily'">
                    <div class="col-md-12">
                        <div class="radio">
                            <label>
                                <input type="radio" ng-value="true" ng-model="appointment.recurrenceOptions.isEveryXthDay" />
                                <div>
                                    <span>{{ "every_x" | translate }} </span>
                                    <span>
                                        <input type="number" min="1" ng-model="appointment.recurrenceOptions.everyXthDay" style="width: 40px;" ng-disabled="!appointment.recurrenceOptions.isEveryXthDay" />
                                    </span>
                                    <span>{{ "day_s" | translate }}</span>
                                </div>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-value="false" ng-model="appointment.recurrenceOptions.isEveryXthDay">
                                {{ "every_working_day" | translate }}
                            </label>
                        </div>
                    </div>
                </div>
                <div ng-if="appointment.recurrence === 'weekly'">
                    <div class="col-md-12" style="margin-top: 10px;">
                        <span>{{ "every_x" | translate }}</span>
                        <span>
                            <input type="number" min="1" ng-model="appointment.recurrenceOptions.everyXthWeek" style="width: 40px;" />
                        </span>
                        <span>{{ "week_s" | translate }}</span>
                    </div>
                    <div class="col-md-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="appointment.recurrenceOptions.isOnMonday" /> {{ "monday" | translate }}
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="appointment.recurrenceOptions.isOnTuesday" /> {{ "tuesday" | translate }}
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="appointment.recurrenceOptions.isOnWednesday" /> {{ "wednesday" | translate }}
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="appointment.recurrenceOptions.isOnThursday" /> {{ "thursday" | translate }}
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="appointment.recurrenceOptions.isOnFriday" /> {{ "friday" | translate }}
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="appointment.recurrenceOptions.isOnSaturday" /> {{ "saturday" | translate }}
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="appointment.recurrenceOptions.isOnSunday" /> {{ "sunday" | translate }}
                        </label>
                    </div>
                </div>
                <div ng-if="appointment.recurrence === 'monthly'">
                    <div class="col-md-12">
                        <div class="radio">
                            <label>
                                <input type="radio" ng-value="true" ng-model="appointment.recurrenceOptions.isEveryXthDay" />
                                <div>
                                    <span>{{ "every_x" | translate }} </span>
                                    <span>
                                        <input type="number" min="1" max="31" ng-model="appointment.recurrenceOptions.xthDay" style="width: 40px;" ng-disabled="!appointment.recurrenceOptions.isEveryXthDay" />
                                    </span>
                                    <span>{{ "day_of_every_x" | translate }}</span>
                                    <span>
                                        <input type="number" min="1" max="12" ng-model="appointment.recurrenceOptions.everyXthMonth" style="width: 40px;" ng-disabled="!appointment.recurrenceOptions.isEveryXthDay" />
                                    </span>
                                    <span>{{ "month" | translate }}</span>
                                </div>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-value="false" ng-model="appointment.recurrenceOptions.isEveryXthDay" />
                                <div>
                                    <span>{{ "every_x" | translate }} </span>
                                    <span>
                                        <select ng-model="appointment.recurrenceOptions.xthDay" ng-disabled="appointment.recurrenceOptions.isEveryXthDay">
                                            <option value="1">{{ "first" | translate }}</option>
                                            <option value="2">{{ "second" | translate }}</option>
                                            <option value="3">{{ "third" | translate }}</option>
                                            <option value="4">{{ "fourth" | translate }}</option>
                                            <option value="5">{{ "last" | translate }}</option>
                                        </select>
                                    </span>
                                    <span>
                                        <select ng-model="appointment.recurrenceOptions.dayRecurrence" ng-disabled="appointment.recurrenceOptions.isEveryXthDay">
                                            <option value="Daily">{{ "day" | translate }}</option>
                                            <option value="Workdays">{{ "working_day" | translate }}</option>
                                            <option value="WeekendDays">{{ "weekend_day" | translate }}</option>
                                            <option value="Mondays">{{ "monday" | translate }}</option>
                                            <option value="Tuesdays">{{ "tuesday" | translate }}</option>
                                            <option value="Wednesdays">{{ "wednesday" | translate }}</option>
                                            <option value="Thursdays">{{ "thursday" | translate }}</option>
                                            <option value="Fridays">{{ "friday" | translate }}</option>
                                            <option value="Saturdays">{{ "saturday" | translate }}</option>
                                            <option value="Sundays">{{ "sunday" | translate }}</option>
                                        </select>
                                    </span>
                                    <span>{{ "of_every_x" | translate }}</span>
                                    <span>
                                        <input type="number" min="1" ng-model="appointment.recurrenceOptions.everyXthMonth" style="width: 40px;" ng-disabled="appointment.recurrenceOptions.isEveryXthDay" />
                                    </span>
                                    <span>{{ "month" | translate }}</span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div ng-if="appointment.recurrence === 'yearly'">
                    <div class="col-md-12" style="margin-top: 10px;">
                        <span>{{ "every_x" | translate }}</span>
                        <span>
                            <input type="number" min="1" ng-model="appointment.recurrenceOptions.everyXthYear" style="width: 40px;" />
                        </span>
                        <span>{{ "year_s" | translate }}</span>
                    </div>
                    <div class="col-md-12">
                        <div class="radio">
                            <label>
                                <input type="radio" ng-value="true" ng-model="appointment.recurrenceOptions.isSpecificDay" />
                                <div>
                                    <span>{{ "every_x" | translate }} </span>
                                    <span>
                                        <input type="number" min="1" max="31" ng-model="appointment.recurrenceOptions.everyXthDay" style="width: 40px;" ng-disabled="!appointment.recurrenceOptions.isSpecificDay" />
                                    </span>
                                    <span>
                                        <select ng-model="appointment.recurrenceOptions.month" ng-disabled="!appointment.recurrenceOptions.isSpecificDay">
                                            <option value="1">{{ "january" | translate }}</option>
                                            <option value="2">{{ "february" | translate }}</option>
                                            <option value="3">{{ "march" | translate }}</option>
                                            <option value="4">{{ "april" | translate }}</option>
                                            <option value="5">{{ "may" | translate }}</option>
                                            <option value="6">{{ "june" | translate }}</option>
                                            <option value="7">{{ "july" | translate }}</option>
                                            <option value="8">{{ "august" | translate }}</option>
                                            <option value="9">{{ "september" | translate }}</option>
                                            <option value="10">{{ "october" | translate }}</option>
                                            <option value="11">{{ "november" | translate }}</option>
                                            <option value="12">{{ "december" | translate }}</option>
                                        </select>
                                    </span>
                                </div>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-value="false" ng-model="appointment.recurrenceOptions.isSpecificDay" />
                                <div>
                                    <span>{{ "every_x" | translate }} </span>
                                    <span>
                                        <select ng-model="appointment.recurrenceOptions.everyXthDay" ng-disabled="appointment.recurrenceOptions.isSpecificDay">
                                            <option value="1">{{ "first" | translate }}</option>
                                            <option value="2">{{ "second" | translate }}</option>
                                            <option value="3">{{ "third" | translate }}</option>
                                            <option value="4">{{ "fourth" | translate }}</option>
                                            <option value="5">{{ "last" | translate }}</option>
                                        </select>
                                    </span>
                                    <span>
                                        <select ng-model="appointment.recurrenceOptions.dayRecurrence" ng-disabled="appointment.recurrenceOptions.isSpecificDay">
                                            <option value="Daily">{{ "day" | translate }}</option>
                                            <option value="Workdays">{{ "working_day" | translate }}</option>
                                            <option value="WeekendDays">{{ "weekend_day" | translate }}</option>
                                            <option value="Mondays">{{ "monday" | translate }}</option>
                                            <option value="Tuesdays">{{ "tuesday" | translate }}</option>
                                            <option value="Wednesdays">{{ "wednesday" | translate }}</option>
                                            <option value="Thursdays">{{ "thursday" | translate }}</option>
                                            <option value="Fridays">{{ "friday" | translate }}</option>
                                            <option value="Saturdays">{{ "saturday" | translate }}</option>
                                            <option value="Sundays">{{ "sunday" | translate }}</option>
                                        </select>
                                    </span>
                                    <span>{{ "in" | translate }}</span>
                                    <span>
                                        <select ng-model="appointment.recurrenceOptions.month" ng-disabled="appointment.recurrenceOptions.isSpecificDay">
                                            <option value="1">{{ "january" | translate }}</option>
                                            <option value="2">{{ "february" | translate }}</option>
                                            <option value="3">{{ "march" | translate }}</option>
                                            <option value="4">{{ "april" | translate }}</option>
                                            <option value="5">{{ "may" | translate }}</option>
                                            <option value="6">{{ "june" | translate }}</option>
                                            <option value="7">{{ "july" | translate }}</option>
                                            <option value="8">{{ "august" | translate }}</option>
                                            <option value="9">{{ "september" | translate }}</option>
                                            <option value="10">{{ "october" | translate }}</option>
                                            <option value="11">{{ "november" | translate }}</option>
                                            <option value="12">{{ "december" | translate }}</option>
                                        </select>
                                    </span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="col-sm-2 control-label">{{ "end_date" | translate }}</label>
                    <div class="col-md-5 col-sm-10">
                        <p class="input-group" style="margin-bottom: 0;">
                            <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="endRecurrenceDateOpened" ng-model="appointment.recurrenceOptions.endDatePicker" datepicker-options="dateOptions" ng-required="false" close-text="{{ 'close' | translate }}" ng-disabled="!appointment.recurrenceOptions.hasEndDate" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-disabled="!appointment.recurrenceOptions.hasEndDate" ng-click="openEndRecurrenceDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-5 col-sm-10 col-sm-offset-2">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="appointment.recurrenceOptions.hasEndDate" /> {{ "has_end_date" | translate }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ "ok" | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ "cancel" | translate }}</button>
</div>