﻿<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span translate="Templates"></span></strong></div>
        <div class="panel-body">

            <div class="col-md-12 col-xs-12">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nv-expand-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="nv-expand-collapse">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a ng-click="create()">
                                        <span class="glyphicon glyphicon-plus"></span> {{ "create_calendar_template" | translate }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="col-md-12" ng-show="templates.length > 0">
                <div class="angular-ui-tree-handle" ng-repeat="node in templates | orderBy:'name'" ng-class="{'selected': node.name == selectedTemplate.name}">
                    <span ng-click="select(node)" style="cursor:pointer;">
                        <span ng-bind="node.name"></span>
                    </span>
                    <a class="btn btn-tree-action btn-xs btn-default" ng-click="rename(node)"><span class="glyphicon glyphicon-font" title='{{ "edit_calendar_template" | translate }}'></span></a>
                    <a class="btn btn-tree-action btn-xs btn-default" ng-click="delete(node)"><span class="glyphicon glyphicon-trash" title='{{ "delete_calendar_template" | translate }}'></span></a>
                </div>

            </div>

            <div class="col-md-12">
                {{templates | json}}
            </div>

        </div>




    </section>

</div>