﻿<div class="modal-header">
    <h3 class="modal-title">{{ 'form_generator_subject' | translate }}</h3>
</div>
<div class="modal-body">
    <fieldset>
        <div class="form-group">
            <label for="form_type">{{ 'form_generator_type' | translate }}</label>
            <select ng-model="generator.type" id="form_type" class="form-control">
                <option value="above">{{ 'form_generator_type_above' | translate }}</option>
                <option value="asside">{{ 'form_generator_type_asside' | translate }}</option>
                <option value="nolabel">{{ 'form_generator_type_nolabel' | translate }}</option>
            </select>
        </div>
        <div ui-sortable ng-model="generator.fields">
            <div ng-repeat="field in generator.fields">
                <div class="form-group">
                    <label for="f{{field.fieldId}}">{{field.fieldName}}</label>
                    <select ng-model="field.type" id="f{{field.fieldId}}" class="form-control">
                        <option value="text">{{ 'form_field_type_text' | translate }}</option>
                        <option value="number">{{ 'form_field_type_number' | translate }}</option>
                        <option value="textarea">{{ 'form_field_type_textarea' | translate }}</option>
                        <option value="checkbox">{{ 'form_field_type_checkbox' | translate }}</option>
                        <option value="radio">{{ 'form_field_type_radio' | translate }}</option>
                        <option value="select">{{ 'form_field_type_select' | translate }}</option>
                    </select>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="field.required"> {{ 'form_field_is_required' | translate }}
                    </label>
                </div>
                <div class="row" ng-if="field.type === 'radio' || field.type === 'select'">
                    <div class="col-md-11 col-md-offset-1">
                        <div class="form-group">
                            <label for="fo{{field.fieldId}}">{{ 'form_field_options_header' | translate }}</label>
                            <textarea id="fo{{field.fieldId}}" class="form-control" rows="3" ng-model="field.options"></textarea>
                        </div>
                        <div class="checkbox" ng-if="field.type === 'select'">
                            <label>
                                <input type="checkbox" ng-model="field.multiple"> {{ 'form_field_select_is_multiple' | translate }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ 'ok' | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ 'cancel' | translate }}</button>
</div>