﻿<div class="modal-header">
    <h3 class="modal-title">{{subject}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <div class="form-group">
                    <label for="type">{{ "form_action" | translate }}</label>
                    <select ng-model="action.type" id="type" class="form-control" ng-options="type.name as type.description for type in types"></select>
                </div>
                <div class="form-group" ng-if="action.type === 'PageForwarding'">
                    <div class="input-group">
                        <input type="text" ng-model="action.configuration" placeholder="{{ 'add_page_link' | translate }}" typeahead="page as page.fullname for page in getPages($viewValue)" typeahead-loading="loadingPages" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="browsePage()" type="button">{{ "browse" | translate }}&hellip;</button>
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-if="action.type === 'SendEmailToField'">
                    <label for="formField">{{ "form_field" | translate }}</label>
                    <select ng-model="action.configuration.fieldId" id="formField" class="form-control" ng-options="field.id as field.name for field in fields"></select>
                </div>
                <div class="form-group" ng-if="action.type === 'SendEmailToAddress'">
                    <label for="emailAddress">{{ "email_address" | translate }}</label>
                    <input type="text" id="emailAddress" class="form-control" ng-model="action.configuration.emailAddress" />
                </div>
                <div class="form-group" ng-if="action.type === 'SendEmailToAddress' || action.type === 'SendEmailToField'">
                    <label for="emailSubject">{{ "email_subject" | translate }}</label>
                    <input type="text" id="emailSubject" class="form-control" ng-model="action.configuration.emailSubject" />
                </div>
                <div class="form-group" ng-if="action.type === 'CreateObject'">
                    <label for="objectDefinition">{{ "object_definition" | translate }}</label>
                    <select ng-model="action.configuration.objectDefinitionId" id="objectDefinition" class="form-control" ng-options="definition.id as definition.name for definition in definitions"></select>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row" ng-if="action.type === 'CreateObject' && action.configuration.objectDefinitionId">
        <div class="col-md-12">
            <fieldset>
                <div class="form-group" ng-repeat="df in definition.fields | orderBy:'sortOrder'">
                    <label for="odf_{{ df.sortOrder }}">{{ df.name }}</label>
                    <select ng-model="action.configuration.mapping[df.name]" id="odf_{{ df.sortOrder }}" cl class="form-control" ng-options="field.id as field.name for field in fields"></select>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row" ng-if="action.type === 'SendEmailToAddress' || action.type === 'SendEmailToField'">
        <div class="col-md-12">
            <div class="ui-tab-container ui-tab-horizontal">
                <tabset class="ui-tab">
                    <tab heading="{{ 'email_text_template' | translate }}">
                        <textarea id="emailTemplate" rows="8" class="form-control" ng-model="action.configuration.emailTemplateText"></textarea>
                    </tab>
                    <tab heading="{{ 'email_html_template' | translate }}">
                        <textarea ui-tinymce="tinymceOptions" ng-model="action.configuration.emailTemplateHtml"></textarea>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ "ok" | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ "cancel" | translate }}</button>
</div>