﻿<div class="modal-header">
    <h3 class="modal-title">{{subject}}</h3>
</div>
<div class="modal-body">
    <fieldset>
        <div class="form-group">
            <label for="fs1">{{ 'date_and_time' | translate }}</label>
            <input type="text" id="fs1" class="form-control" ng-model="entry.timestamp | date:'dd.MM.yyyy HH:mm'" readonly />
        </div>
        <div class="form-group">
            <label for="fs2">{{ 'ip_address' | translate }}</label>
            <input type="text" id="fs2" class="form-control" ng-model="entry.ipAddress" readonly />
        </div>
        <div class="form-group" ng-repeat="field in fields track by field">
            <label for="f{{$index}}">{{field}}</label>
            <input type="text" id="f{{$index}}" class="form-control" ng-model="values[field]" />
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ 'ok' | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ 'cancel' | translate }}</button>
</div>