﻿<div class="page">
    <div class="panel panel-default">

        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-th"></span> {{form.name}} (Nr. {{form.publicId}})</strong>
        </div>
        <div class="panel-body">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-12">
                    <fieldset>
                        <div class="form-group">
                            <label for="name">{{ 'name' | translate }}</label>
                            <input type="text" id="name" class="form-control" ng-model="form.name" readonly ng-click="editName()" />
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-th"></span> {{ 'form_details' | translate }}</strong>
        </div>
        <div class="panel-body">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-12">

                    <div class="ui-tab-container ui-tab-horizontal">
                        <tabset class="ui-tab">
                            <tab ng-controller="FormEntriesController" select="loadEntries()">
                                <tab-heading>
                                    {{ 'form_entries' | translate }}  <span ng-if="entries.length > 0" class="badge" ng-bind="entries.length"></span>
                                </tab-heading>
                                <div class="row" ng-if="!entriesLoaded">
                                    <div class="col-md-12">
                                        <i class="fa fa-spinner fa-pulse fa-5x"></i>
                                    </div>
                                </div>
                                <div class="row" ng-if="entriesLoaded" style="margin-bottom: 20px;">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary" ng-click="create()">
                                            <span class="glyphicon glyphicon-plus"></span> {{ 'create_form_entry' | translate }}
                                        </button>

                                        <button type="button" class="btn btn-default" ng-click="downloadCsv()">
                                            <span class="glyphicon glyphicon-download"></span> {{ 'download_as_csv' | translate }}
                                        </button>
                                        
                                        <button type="button" class="btn btn-danger" ng-click="clearEntries()">
                                            <span class="glyphicon glyphicon-trash"></span> {{ 'clear_form_entries' | translate }}
                                        </button>
                                    </div>
                                </div>
                                <div class="row" ng-if="entriesLoaded">
                                    <div class="col-md-12" style="overflow: auto;">
                                        <table class="table table-hover selectable formentries">
                                            <thead>
                                                <tr>
                                                    <th style="white-space:nowrap;">{{ 'date_and_time' | translate }}</th>
                                                    <th style="white-space:nowrap;">{{ 'ip_address' | translate }}</th>
                                                    <th>{{ 'spam' | translate }}</th>
                                                    <th ng-repeat="cf in columnFields">{{ cf }}</th>
                                                    <th style="width: 90px;">&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="row in entries" ng-class="{danger: row.isSpam}">
                                                    <td class="infocolumns" ng-click="select(row)" ng-class="{selected: row.id == selectedRow.id}" title="{{ row.timestamp | date:'dd.MM.yyyy HH:mm'}}">{{ row.timestamp | amCalendar }}</td>
                                                    <td class="infocolumns" ng-click="select(row)" ng-class="{selected: row.id == selectedRow.id}">{{ row.ipAddress }}</td>
                                                    <td class="infocolumns" ng-click="select(row)" ng-class="{selected: row.id == selectedRow.id}">{{ row.isSpam }}</td>
                                                    <td ng-repeat="cf in columnFields" ng-click="select(row)" ng-class="{selected: row.id == selectedRow.id, notselected: row.id != selectedRow.id}">
                                                        {{ row[cf] }}
                                                    </td>
                                                    <td ng-click="select(row)" ng-class="{selected: row.id == selectedRow.id}">
                                                        <a class="btn btn-tree-action btn-xs btn-default" ng-click="edit(row)"><span class="glyphicon glyphicon-pencil" title="{{ 'edit_form_entry' | translate }}"></span></a>
                                                        <a class="btn btn-tree-action btn-xs btn-default" ng-click="delete(row)"><span class="glyphicon glyphicon-trash" title="{{ 'delete_form_entry' | translate }}"></span></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </tab>
                            <tab ng-controller="FormFieldsController" heading="{{ 'form_fields' | translate }}">
                                <div class="row" style="margin-bottom: 20px;">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary" ng-click="addField()">
                                            <span class="glyphicon glyphicon-plus"></span> {{ 'create_form_field' | translate }}
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="angular-ui-tree-handle" ng-repeat="node in form.fields" ng-class="{'selected': node.id == selectedField.id}">
                                            <a class="btn btn-xs" ng-click="selectField(node)">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                            <span ng-click="selectField(node)" style="cursor:pointer;" ng-bind="node.name"></span>
                                            <a class="btn btn-tree-action btn-xs btn-default" ng-click="editField(node)"><span class="ti-pencil" title="{{ 'change_form_field' | translate }}"></span></a>
                                            <a class="btn btn-tree-action btn-xs btn-default" ng-click="removeField(node)"><span class="glyphicon glyphicon-trash" title="{{ 'delete_form_field' | translate }}"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab ng-controller="FormActionsController" heading="{{ 'form_actions' | translate }}" select="loadActions()">
                                <div class="row" ng-if="!actionLoaded">
                                    <div class="col-md-12">
                                        <i class="fa fa-spinner fa-pulse fa-5x"></i>
                                    </div>
                                </div>
                                <div class="row" ng-if="actionLoaded" style="margin-bottom: 20px;">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary" ng-click="addAction()">
                                            <span class="glyphicon glyphicon-plus"></span> {{ 'create_form_action' | translate }}
                                        </button>
                                    </div>
                                </div>
                                <div class="row" ng-if="actionLoaded">
                                    <div class="col-md-12">
                                        <div class="angular-ui-tree-handle" ng-repeat="node in actions" ng-class="{'selected': node.id == selectedAction.id}">
                                            <a class="btn btn-xs" ng-click="selectAction(node)">
                                                <i class="fa fa-bolt"></i>
                                            </a>
                                            <span ng-click="selectAction(node)" style="cursor:pointer;" ng-bind="node.description"></span>
                                            <a class="btn btn-tree-action btn-xs btn-default" ng-click="editAction(node)"><span class="ti-pencil" title="{{ 'edit_form_action' | translate }}"></span></a>
                                            <a class="btn btn-tree-action btn-xs btn-default" ng-click="removeAction(node)"><span class="glyphicon glyphicon-trash" title="{{ 'delete_form_action' | translate }}"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab ng-controller="FormTemplateController" heading="{{ 'form_template' | translate }}" select="loadTemplate()">
                                <div class="row" ng-if="!templateLoaded">
                                    <div class="col-md-12">
                                        <i class="fa fa-spinner fa-pulse fa-5x"></i>
                                    </div>
                                </div>
                                <div class="row" ng-if="templateLoaded" style="margin-bottom: 20px;">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary" click-and-wait="saveTemplate()">
                                            <span class="glyphicon glyphicon-floppy-disk"></span> {{ 'save' | translate }}
                                        </button>
                                        <button type="button" class="btn btn-default" ng-click="openGenerator()">
                                            <span class="glyphicon glyphicon-cog"></span> {{ 'generate_form_template' | translate }}
                                        </button>
                                    </div>
                                </div>
                                <div class="row" ng-if="templateLoaded">
                                    <div class="col-md-12">
                                        <textarea class="form-control" ng-model="form.template" rows="10"></textarea>
                                    </div>

                                    <!--
                                    TODO: Add validation!
                                    if template contains not existing form field names, show error
                                    -->
                                </div>
                            </tab>
                        </tabset>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>