﻿<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span translate="Forms"></span></strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">

                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li ng-show="canEdit">
                                        <a ng-click="create()">
                                            <span class="glyphicon glyphicon-plus"></span> {{ 'create_form' | translate }}
                                        </a>
                                    </li>
                                </ul>
                                <form class="navbar-form navbar-right" role="search">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                        <input type="text" ng-model="searchText" class="form-control" placeholder="{{ 'search' | translate }}">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12" ng-show="forms.length > 0">
                    <div class="angular-ui-tree-handle form" ng-repeat="node in forms | orderBy:'name' | filter:searchText" ng-class="{'selected': node.id == selectedForm.id, 'malicious': node.isDuplicate}">
                        <a class="btn btn-xs" ng-click="select(node)">
                            <span class="fa fa-comments-o"></span>
                        </a>
                        <span ng-click="select(node)" style="cursor:pointer;" ng-bind-html="node.name | highlight:searchText:false"></span> (Nr. <span ng-click="select(node)" style="cursor:pointer;" ng-bind-html="node.publicId | highlight:searchText:false"></span>)
                        <a ng-if="canEdit" class="btn btn-tree-action btn-xs btn-default" ng-click="rename(node)"><span class="glyphicon glyphicon-font" title="{{ 'rename_form' | translate }}"></span></a>
                        <a ng-if="canEdit" class="btn btn-tree-action btn-xs btn-default" ng-click="edit(node)"><span class="ti-pencil" title="{{ 'edit_form' | translate }}"></span></a>
                        <a ng-if="canEdit && !node.isDuplicate" class="btn btn-tree-action btn-xs btn-default" ng-click="duplicate(node)"><span class="fa fa-files-o" title="{{ 'duplicate_form' | translate }}"></span></a>
                        <a ng-if="canAdmin" class="btn btn-tree-action btn-xs btn-default" ng-click="delete(node)"><span class="glyphicon glyphicon-trash" title="{{ 'delete_form' | translate }}"></span></a>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>