﻿<div class="modal-header">
    <h3 class="modal-title">{{subject}}</h3>
</div>
<div class="modal-body">
    <fieldset>
        <div class="form-group">
            <label for="input">{{ "name" | translate }}</label>
            <input type="text" id="input" class="form-control" ng-model="name" autofocus="autofocus" />
        </div>
        <div class="form-group">
            <label>{{ "content_type" | translate }}</label>
            <ui-select ng-model="result.contentType" theme="bootstrap" ng-disabled="isEdit">
                <ui-select-match><span ng-class="$select.selected.icon"> </span> {{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="ct in contentTypes | orderBy:'name' | filter: $select.search">
                    <span ng-class="ct.icon"></span>
                    <span ng-bind-html="ct.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group" ng-show="result.contentType.value === 'List'">
            <label for="contentTypeOptions">{{ "content_type_options" | translate }}</label>
            <textarea id="contentTypeOptions" style="width: 100%; height: 100px;" ng-model="options"></textarea>
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!result.contentType || !result.contentType.value || !name" ng-click="ok()">{{ "ok" | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ "cancel" | translate }}</button>
</div>