﻿<div class="modal-header">
    <h3 class="modal-title">{{ "change_page_template" | translate }}</h3>
</div>
<div class="modal-body">
    <fieldset>
        <div class="form-group">
            <label>{{ "page_template" | translate }}</label>
            <ui-select ng-model="scope.selectedTemplate" theme="bootstrap">
                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="template in templates | filter: $select.search | orderBy:'name'">
                    <span>
                        <img ng-src="{{template.icon}}" style="width: 64px;" />
                        <span ng-bind-html="template.name | highlight: $select.search"></span> <small ng-bind-html="template.contentType | highlight: $select.search"></small>
                    </span>
                </ui-select-choices>
            </ui-select>
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ "ok" | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ "cancel" | translate }}</button>
</div>