﻿<div class="page">

    <script type="text/ng-template" id="fileDirectoryNodeTemplate.html">
        <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'selected': node.id == selectedDirectory.id}" drop-channel="{{node.fileStoreId}}" ui-on-drop="onDrop(node, $data)" ng-attr-data-nodrag="{{ node.isFileStore ? true : undefined }}">
            <a class="btn btn-xs" data-nodrag ng-click="toggle(this)" ng-class="{'noChildren': node.children.length == 0}">
                <span ng-if="!node.isFileStore" class="glyphicon" ng-class="{'glyphicon-folder-close': collapsed, 'glyphicon-folder-open': !collapsed}"></span>
                <span ng-if="node.isFileStore" data-nodrag>
                    <img ng-src="{{node.icon}}" style="max-height: 16px; max-width: 16px;" />
                </span>
            </a>
            <span data-nodrag ng-click="selectDirectory(node)" style="cursor:pointer;">
                {{node.name}}
            </span>
            <i data-nodrag ng-if="node.shared && node.shared.length > 0" class="fa fa-link" title="{{ getNames(node.shared) }}" style="cursor:pointer;"></i>
            <i data-nodrag ng-if="node.parentIsShared" class="fa fa-link" title="{{ 'parent_is_shared' }}" style="cursor:pointer;"></i>
            <a ng-show="canEdit && !node.isFileStore" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="renameDirectory(node)">
                <span class="glyphicon glyphicon-font" title='{{ "rename_directory" | translate }}'></span>
            </a>
            <a ng-show="canAdmin && !node.isFileStore && !node.parentIsShared" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="shareDirectory(node)">
                <i class="fa fa-link" title='{{ "share_directory" | translate }}'></i>
            </a>
            <a ng-show="canAdmin && !node.isFileStore && node.shared && node.shared.length > 0 && !node.parentIsShared" class="btn btn-tree-action btn-xs btn-default" data-nodrag click-and-wait="donotshareDirectory(node)">
                <i class="fa fa-chain-broken" title="{{ 'do_not_share_directory' | translate}}"></i>
            </a>
            <a ng-show="canAdmin && !node.isFileStore" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="deleteDirectory(this)">
                <span class="glyphicon glyphicon-trash" title='{{ "delete_directory" | translate }}'></span>
            </a>
        </div>
        <ol ui-tree-nodes ng-model="node.children" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.children | orderBy:'name'" ui-tree-node data-collapsed="node.isCollapsed" ng-include="'fileDirectoryNodeTemplate.html'"></li>
        </ol>
    </script>

    <script type="text/ng-template" id="sharedDirectoryNodeTemplate.html">
        <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'selected': node.id == selectedDirectory.id}" drop-channel="{{node.fileStoreId}}" ui-on-drop="onDrop(node, $data)" ng-attr-data-nodrag="{{ node.isFileStore ? true : undefined }}">
            <a class="btn btn-xs" data-nodrag ng-click="toggle(this)" ng-class="{'noChildren': node.children.length == 0}">
                <span class="glyphicon glyphicon-link"></span>
            </a>
            <span data-nodrag ng-click="selectDirectory(node)" style="cursor:pointer;">
                {{node.name}}
            </span>
        </div>
        <ol ui-tree-nodes ng-model="node.children" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.children | orderBy:'name'" ui-tree-node data-collapsed="node.isCollapsed" ng-include="'sharedDirectoryNodeTemplate.html'"></li>
        </ol>
    </script>

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span><span translate="Files"></span></strong></div>
        <div class="panel-body">

            <div class="row" style="margin-bottom: 15px;">

                <div class="col-md-12 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">

                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li ng-if="canEdit && selectedDirectory" ng-hide="selectedDirectory.isShared || trashDirectory.id == selectedDirectory.id">
                                        <a ng-click="createDirectory()">
                                            <span class="glyphicon glyphicon-plus"></span> {{ "create_directory" | translate }}
                                        </a>
                                    </li>
                                    <li ng-hide="selectedDirectory == null || trashDirectory.id == selectedDirectory.id || !canEdit || selectedDirectory.isFileStore">
                                        <a ng-click="uploadFiles()">
                                            <span class="ti-cloud-up"></span> {{ "upload_files" | translate }}
                                        </a>
                                    </li>
                                </ul>
                                <form class="navbar-form navbar-right" role="search" ng-submit="searchFiles()">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                                        </span>
                                        <input type="text" ng-model="fileSearchText" class="form-control" placeholder="{{ 'search' | translate }}">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="col-md-4 col-xs-12">

                    <div ui-tree="treeOptions" id="tree-root" data-drag-delay="500" data-drag-enabled="true">
                        <ol ui-tree-nodes ng-model="directories">
                            <li ng-repeat="node in directories | orderBy:'name'" ui-tree-node data-collapsed="node.isCollapsed" ng-include="'fileDirectoryNodeTemplate.html'" repeat-done="layoutDone()" ng-cloak></li>
                        </ol>
                    </div>

                    <div ui-tree data-drag-enabled="false" id="tree-root-shared" ng-show="sharedDirectoryRoot.children.length > 0">
                        <ol ui-tree-nodes ng-model="shared">
                            <li ui-tree-node ng-repeat="node in shared" data-collapsed="node.isCollapsed">
                                <div ui-tree-handle class="tree-node tree-node-content" drop-channel="share">
                                    <a class="btn btn-xs" data-nodrag ng-click="toggle(this)">
                                        <span class="glyphicon glyphicon-link"></span>
                                    </a>
                                    <span data-nodrag ng-click="toggle(this)" style="cursor:pointer;">
                                        {{sharedDirectoryRoot.name}}
                                    </span>
                                </div>
                                <ol ui-tree-nodes ng-model="node.children" ng-class="{hidden: collapsed}">
                                    <li ng-repeat="node in node.children | orderBy:'name'" ui-tree-node data-collapsed="node.isCollapsed" ng-include="'sharedDirectoryNodeTemplate.html'"></li>
                                </ol>
                            </li>
                        </ol>
                    </div>

                    <div ui-tree data-drag-enabled="false">
                        <ol ui-tree-nodes ng-model="trashDirectories">
                            <li ui-tree-node ng-repeat="node in trashDirectories">
                                <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'selected': trashDirectory.id == selectedDirectory.id}" drop-channel="trash">
                                    <a class="btn btn-xs" data-nodrag ng-click="selectTrashDirectory()">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                    <span data-nodrag ng-click="selectTrashDirectory()" style="cursor:pointer;">
                                        {{trashDirectory.name}}
                                    </span>
                                </div>
                            </li>
                        </ol>
                    </div>

                </div>
                <div class="col-md-8 col-xs-12">

                    <div class="callout callout-info" ng-show="trashDirectory.id == selectedDirectory.id" style="margin-top: 5px;">
                        <h4>{{ "trash_directory" | translate }}</h4>
                        <p>{{ "trash_directory_description" | translate }}</p>
                    </div>

                    <div ng-repeat="file in files" class="file" title="{{file.fullname}}" ui-draggable="true" drag="{{file}}" drag-channel="{{file.fileStoreId}}" ng-class="{malicious: file.isMalicious}">
                        <div style="width: 150px; height: 150px; vertical-align: middle; display: table-cell;">
                            <img style="max-width: 150px; max-height: 150px;" class="img-responsive" ng-src="{{file.previewUrl}}" />
                        </div>
                        <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: center;">{{file.fullname}}</div>
                        <div ng-bind="file.size"></div>
                        <div ng-bind="file.date"></div>
                        <div class="buttons" style="text-align: center;">
                            <a ng-hide="file.isMalicious" style="height: 16px; width: 16px; margin: 3px; cursor: pointer;" ng-href="{{file.downloadUrl}}" target="_blank"><span class="glyphicon glyphicon-download" title='{{::"download_file" | translate }}'></span></a>
                            <a ng-show="canAdmin" style="height: 16px; width: 16px; margin: 3px; cursor: pointer;" ng-click="deleteFile(file)"><span class="glyphicon glyphicon-trash" title='{{::"delete_file" | translate }}'></span></a>
                            <a ng-show="canEdit" style="height: 16px; width: 16px; margin: 3px; cursor: pointer;" ng-click="renameFile(file)"><span class="glyphicon glyphicon-font" title='{{::"rename_file" | translate }}'></span></a>
                            <a ng-show="canEdit" style="height: 16px; width: 16px; margin: 3px; cursor: pointer;" ng-click="replaceFile(file)"><span class="glyphicon glyphicon-upload" title='{{::"replace_file" | translate }}'></span></a>
                            <a ng-show="canEdit && file.isTextFile && !file.isMalicious" style="height: 16px; width: 16px; margin: 3px; cursor: pointer;" ng-click="editFile(file)"><span class="glyphicon glyphicon-pencil" title="{{::'edit_file' | translate }}"></span></a>
                            <a ng-show="!file.isTracked && canEdit" style="height: 16px; width: 16px; margin: 3px; cursor: pointer;" click-and-wait="trackFile(file)"><span class="glyphicon glyphicon-play" title="{{::'enable_file_tracking' | translate }}"></span></a>
                            <a ng-show="file.isTracked && canEdit" style="height: 16px; width: 16px; margin: 3px; cursor: pointer;" click-and-wait="untrackFile(file)"><span class="glyphicon glyphicon-pause" title="{{::'disable_file_tracking' | translate }}"></span></a>
                        </div>
                    </div>

                    <div style="clear: both;"></div>

                </div>
            </div>

        </div>
    </section>

</div>