﻿<div class="modal-header">
    <h3 class="modal-title">{{subject}}</h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="col-md-2 control-label">{{::"name" | translate }}</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="name" class="form-control">
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 0;">
                    <label class="col-md-2 control-label">{{::"page" | translate }}</label>
                    <div class="col-md-10">
                        <div class="input-group" style="margin-bottom: 5px;">
                            <input type="text" ng-model="page" placeholder="{{::'add_page_link' | translate }}" typeahead="page as page.fullname for page in getPages($viewValue)" typeahead-loading="loadingPages" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="browsePage()" type="button">{{::"browse" | translate }}&hellip;</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 0;">
                    <label class="col-md-2 control-label">{{::"url" | translate }}</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="url" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{::"ok" | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{::"cancel" | translate }}</button>
</div>