﻿<div class="page" ng-controller="PageDetailController">
    <div class="panel panel-default">

        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-th"></span> {{page.fullname}}</strong>
        </div>
        <div class="panel-body">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-12">
                    <fieldset>
                        <div class="form-group">
                            <label for="pageName">{{ "page_name" | translate }}</label>
                            <input type="text" id="pageName" class="form-control" ng-model="page.name" readonly ng-click="editName()" />
                        </div>
                        <div class="form-group">
                            <label for="pageTitle">{{ "page_title" | translate }}</label>
                            <input type="text" id="pageTitle" class="form-control" ng-model="page.title" readonly ng-click="editTitle()" />
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <a type="button" class="btn btn-default" ng-href="{{ page.permalink }}" target="_blank">
                        <span class="glyphicon glyphicon-new-window"></span> {{ 'open_page' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" style="min-height: 450px;">
        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-th"></span> {{ "page_content" | translate }}</strong>
        </div>
        <div class="panel-body">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-12">

                    <div class="ui-tab-container ui-tab-horizontal">
                        <tabset class="ui-tab">
                            <tab ng-repeat="c in page.content" heading="{{c.name}}">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 20px;">
                                        <button class="btn btn-primary" click-and-wait="saveContent(c)" type="button">
                                            <span class="glyphicon glyphicon-floppy-disk"></span> {{ "save" | translate }}
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- pageContentTemplate -->
                                    <div class="row col-sm-12 col-md-12 col-lg-12">

                                        <div class="row col-md-12">
                                            <div class="col-sm-12 col-md-6 col-lg-6">
                                                <label>{{ "content_type" | translate }}</label>

                                                <ui-select ng-model="c.type" theme="bootstrap" ng-disabled="!c.canChangeType">
                                                    <ui-select-match><span ng-class="$select.selected.icon"></span> {{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="ct.name as ct in contentTypes | filter: $select.search">
                                                        <span ng-class="ct.icon"></span>
                                                        <span ng-bind-html="ct.name | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <hr />
                                    </div>

                                    <div class="row col-sm-12 col-md-12 col-lg-12">
                                        <div ng-if="c.type.toUpperCase() == 'FORM'" ng-controller="PageContentEditorFormController">
                                            <div class="form-group row col-md-12">
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <label>{{ "form" | translate }}</label>
                                                    <ui-select ng-model="c.value.selectedForm" theme="bootstrap">
                                                        <ui-select-match>{{$select.selected.fullname}}</ui-select-match>
                                                        <ui-select-choices repeat="ct in forms | filter: $select.search | orderBy:'name'">
                                                            <span ng-bind-html="ct.fullname | highlight: $select.search"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="col-sm-12 col-md-6 col-lg-6" ng-show="templates.length > 0">
                                                    <label>{{ "template" | translate }}</label>
                                                    <ui-select ng-model="c.value.selectedTemplate" theme="bootstrap">
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="ct in templates | filter: $select.search">
                                                            <span ng-bind-html="ct.name | highlight: $select.search"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-if="c.type.toUpperCase() == 'HTML'" ng-controller="PageContentEditorHtmlController">
                                            <div class="col-md-12 col-xs-12">
                                                <textarea ui-tinymce="tinymceOptions" ng-model="c.value.value"></textarea>
                                            </div>
                                        </div>

                                        <div ng-if="c.type.toUpperCase() == 'CODE'" ng-controller="PageContentEditorCodeController">
                                            <div class="col-md-12">
                                                <textarea ui-codemirror="codemirrorOptions" ng-model="c.value.value"></textarea>
                                            </div>
                                        </div>

                                        <div ng-if="c.type.toUpperCase() == 'IMAGE'" ng-controller="PageContentEditorImageController">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="form-group row col-md-12">
                                                    <div>
                                                        <label>{{ "image" | translate }}</label>
                                                        <div class="input-group">
                                                            <input type="text" ng-model="c.value.file" placeholder="Suchfeld" typeahead="file as file.fullname for file in getFiles($viewValue)" typeahead-loading="loadingFiles" class="form-control">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default" ng-click="browseImage()" type="button">{{ "browse" | translate }}&hellip;</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row col-md-12">
                                                    <div>
                                                        <label>{{ "link" | translate }}</label>
                                                        <div class="input-group" style="margin-bottom: 5px;">
                                                            <span class="input-group-addon">
                                                                <input type="radio" ng-model="c.value.linkType" value="none">
                                                            </span>
                                                            <input type="text" disabled value="{{ 'add_no_link' | translate }}" class="form-control">
                                                        </div>
                                                        <div class="input-group" style="margin-bottom: 5px;">
                                                            <span class="input-group-addon">
                                                                <input type="radio" ng-model="c.value.linkType" value="page">
                                                            </span>
                                                            <input type="text" ng-model="c.value.pageLink" ng-disabled="c.value.linkType != 'page'" placeholder="{{ 'add_page_link' | translate }}" typeahead="page as page.fullname for page in getPages($viewValue)" typeahead-loading="loadingPages" class="form-control">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default" ng-click="browsePage()" type="button" ng-disabled="c.value.linkType != 'page'">{{ "browse" | translate }}&hellip;</button>
                                                            </span>
                                                        </div>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <input type="radio" ng-model="c.value.linkType" value="external">
                                                            </span>
                                                            <input type="text" placeholder="{{ 'add_external_link' | translate }}" ng-disabled="c.value.linkType != 'external'" ng-model="c.value.externalLink" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row col-md-12">
                                                    <div>
                                                        <label>{{ "alpha" | translate }} {{c.value.imageSettings.alpha}}%</label>
                                                        <div ui-slider min="0" max="100" ng-model="c.value.imageSettings.alpha" ng-disabled="!isLocalFile"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group row col-md-12">
                                                    <div>
                                                        <label>{{ "saturation" | translate }} {{c.value.imageSettings.saturation}}%</label>
                                                        <div ui-slider min="-100" max="100" ng-model="c.value.imageSettings.saturation" ng-disabled="!isLocalFile"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group row col-md-12">
                                                    <div>
                                                        <label>{{ "rounded_corners" | translate }} {{c.value.imageSettings.roundedCorners}}px</label>
                                                        <div ui-slider min="0" max="250" ng-model="c.value.imageSettings.roundedCorners" ng-disabled="!isLocalFile"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group row col-md-12">
                                                    <div>
                                                        <label>{{ "brightness" | translate }} {{c.value.imageSettings.brightness}}%</label>
                                                        <div ui-slider min="-100" max="100" ng-model="c.value.imageSettings.brightness" ng-disabled="!isLocalFile"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group row col-md-12">
                                                    <div>
                                                        <label>{{ "contrast" | translate }} {{c.value.imageSettings.contrast}}%</label>
                                                        <div ui-slider min="-100" max="100" ng-model="c.value.imageSettings.contrast" ng-disabled="!isLocalFile"></div>
                                                    </div>
                                                </div>
                                                <div class="row col-md-12">
                                                    <label>{{ "filter" | translate }}</label>
                                                    <ui-select ng-model="c.value.imageSettings.filter" theme="bootstrap" ng-disabled="!isLocalFile">
                                                        <ui-select-match>{{$select.selected}}</ui-select-match>
                                                        <ui-select-choices repeat="ct in matrixFilters | filter: $select.search">
                                                            <span ng-bind-html="ct | highlight: $select.search"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="row col-md-12">
                                                    <label>{{ "tint" | translate }}</label>
                                                    <ui-select ng-model="c.value.imageSettings.tint" theme="bootstrap" ng-disabled="!isLocalFile">
                                                        <ui-select-match>{{$select.selected}}</ui-select-match>
                                                        <ui-select-choices repeat="ct in tintColors | filter: $select.search">
                                                            <span ng-bind-html="ct | highlight: $select.search"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-xs-12">
                                                <div>
                                                    <label>{{ "preview" | translate }}</label>
                                                    <div>
                                                        <img ng-src="{{previewUrl}}" style="max-width: 100%;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-if="c.type.toUpperCase() == 'MARKDOWN'" ng-controller="PageContentEditorMarkdownController">
                                            <div class="col-md-6 col-xs-12">
                                                <textarea class="form-control" rows="10" ng-model="c.value.value"></textarea>
                                            </div>

                                            <div class="col-md-6 col-xs-12">
                                                <div ng-bind-html="preview.html | wizMarkdownFltr"></div>
                                            </div>
                                        </div>

                                        <div ng-if="c.type.toUpperCase() == 'TEXT'" ng-controller="PageContentEditorTextController">
                                            <div class="col-md-12">
                                                <textarea class="form-control" rows="10" ng-model="c.value.value"></textarea>
                                            </div>
                                        </div>

                                        <div ng-if="c.type.toUpperCase() == 'BOOLEAN'">
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" ng-model="c.value.value"> {{ c.name }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-if="c.type.toUpperCase() == 'OBJECT'" ng-controller="PageContentEditorObjectController">
                                            <div class="form-group row col-md-12">
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <label>{{ "object_definition" | translate }}</label>
                                                    <ui-select ng-model="c.value.selectedType" theme="bootstrap">
                                                        <ui-select-match>{{$select.selected.fullname}}</ui-select-match>
                                                        <ui-select-choices repeat="ct in types | filter: $select.search | orderBy:'name'">
                                                            <span ng-bind-html="ct.fullname | highlight: $select.search"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-12">
                                                <div class="col-sm-12 col-md-6 col-lg-6" ng-show="objects.length > 0">
                                                    <label>{{ "object" | translate }}</label>
                                                    <ui-select ng-model="c.value.selectedObject" theme="bootstrap">
                                                        <ui-select-match>{{$select.selected.fullname}}</ui-select-match>
                                                        <ui-select-choices repeat="ct in objects | filter: $select.search | orderBy:'title'">
                                                            <span ng-bind-html="ct.fullname | highlight: $select.search"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6" ng-show="objects.length <= 0">
                                                    <div class="alert alert-danger" role="alert">
                                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                        <span class="sr-only">{{ "error" | translate }}:</span>
                                                        {{ "no_objects_available" | translate }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="col-sm-12 col-md-6 col-lg-6" ng-show="templates.length > 0">
                                                    <label>{{ "template" | translate }}</label>
                                                    <ui-select ng-model="c.value.selectedTemplate" theme="bootstrap">
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="ct in templates | filter: $select.search">
                                                            <span ng-bind-html="ct.name | highlight: $select.search"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6" ng-show="templates.length <= 0">
                                                    <div class="alert alert-danger" role="alert">
                                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                        <span class="sr-only">{{ "error" | translate }}:</span>
                                                        {{ "no_templates_available" | translate }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <hr />
                                    </div>
                                </div>

                            </tab>
                        </tabset>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>