﻿<div class="page">

    <script type="text/ng-template" id="pageStarredNodeTemplate.html">
        <div ui-tree-handle class="tree-node tree-node-content" data-nodrag ng-class="{'selected': node.id == selectedPage.id}">
            <a class="btn btn-xs disabled" data-nodrag>
                <span class="glyphicon glyphicon-star"></span>
            </a>
            <a class="btn btn-xs disabled" data-nodrag>
                <i class="fa" ng-class="{'fa-heart-o': !node.isDefault, 'fa-heart': node.isDefault}"></i>
            </a>
            <span ng-if="!node.isLink" ng-class="{'node-inactive': node.disabled === true}" ng-click="selectPage(this)" style="cursor:pointer;">
                {{node.fullname}}
            </span>
            <span ng-if="node.isLink" ng-click="selectPage(this)" style="cursor:pointer;">
                {{node.name}} <span class="glyphicon glyphicon-link"></span> <span ng-bind="node.link.fullname"></span><span ng-bind="node.link.url"></span>
            </span>
            <a ng-if="!node.isLink" class="btn btn-tree-action btn-xs btn-default" data-nodrag target="_blank" ng-href="{{node.permalink}}"><span class="glyphicon glyphicon-new-window" title="{{ 'open_page' | translate }}"></span></a>
            <a ng-if="!node.isLink && canEdit" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="edit(this)"><span class="glyphicon glyphicon-pencil" title='{{ "edit_content" | translate }}'></span></a>
            <a ng-if="node.isLink && canEdit" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="editLink(website, this)"><span class="glyphicon glyphicon-pencil" title='{{ "edit_link" | translate }}'></span></a>
            <a ng-if="canAdmin" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="delete(this)"><span class="glyphicon glyphicon-trash" title='{{ "delete_page" | translate }}'></span></a>
            <a ng-if="!node.isLink && canEdit" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="changeLayout(this)"><span class="ti-layout" title='{{ "change_layout" | translate }}'></span></a>
            <a class="btn btn-tree-action btn-xs btn-default" data-nodrag click-and-wait="unpin(this)"><span class="glyphicon glyphicon-star-empty" title='{{ "unpin_page" | translate }}'></span></a>
            <a class="btn btn-tree-action btn-xs btn-default" ng-if="canEdit && node.disabled === true && !node.isLink" data-nodrag click-and-wait="enable(this)"><span class="glyphicon glyphicon-eye-open" title="{{ 'enable_page' | translate }}"></span></a>
            <a class="btn btn-tree-action btn-xs btn-default" ng-if="canEdit && node.disabled === false && !node.isLink" data-nodrag click-and-wait="disable(this)"><span class="glyphicon glyphicon-eye-close" title="{{ 'disable_page' | translate }}"></span></a>
            <a class="btn btn-tree-action btn-xs btn-default" ng-if="canEdit && node.isDefault === false" data-nodrag click-and-wait="setDefault(node)"><i class="fa fa-heart" title="{{ 'mark_as_default_page' | translate }}"></i></a>
        </div>
        <ol ui-tree-nodes ng-model="node.children" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.children | orderBy:'label'" ui-tree-node ng-include="'pageStarredNodeTemplate.html'" data-collapsed="node.isCollapsed"></li>
        </ol>
    </script>

    <script type="text/ng-template" id="pageNodeTemplate.html">
        <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'selected': node.id == selectedPage.id}">
            <a class="btn btn-xs" data-nodrag ng-click="toggle(this)" ng-class="{'noChildren': node.children.length == 0}">
                <span class="glyphicon" ng-class="{'glyphicon-folder-close': collapsed, 'glyphicon-folder-open': !collapsed}"></span>
            </a>
            <a class="btn btn-xs disabled" data-nodrag>
                <i class="fa" ng-class="{'fa-heart-o': !node.isDefault, 'fa-heart': node.isDefault}"></i>
            </a>
            <span ng-if="!node.isLink" ng-class="{'node-inactive': node.disabled === true}" data-nodrag ng-click="selectPage(this)" style="cursor:pointer;">
                <span ng-bind-html="node.fullname | highlight:website.searchText:false"></span>
            </span>
            <span ng-if="node.isLink" data-nodrag ng-click="selectPage(this)" style="cursor:pointer;">
                <span ng-bind-html="node.name | highlight:website.searchText:false"></span> <span class="glyphicon glyphicon-link"></span> <span ng-bind="node.link.fullname"></span>
            </span>
            <a ng-if="!node.isLink" class="btn btn-tree-action btn-xs btn-default" data-nodrag target="_blank" ng-href="{{node.permalink}}"><span class="glyphicon glyphicon-new-window" title="{{ 'open_page' | translate }}"></span></a>
            <a ng-if="!node.isLink && canEdit" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="edit(this)"><span class="glyphicon glyphicon-pencil" title='{{ "edit_content" | translate }}'></span></a>
            <a ng-if="node.isLink && canEdit" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="editLink(website, this)"><span class="glyphicon glyphicon-pencil" title='{{ "edit_link" | translate }}'></span></a>
            <a ng-if="canAdmin" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="delete(this)"><span class="glyphicon glyphicon-trash" title='{{ "delete_page" | translate }}'></span></a>
            <a ng-if="!node.isLink && canEdit" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="changeLayout(this)"><span class="ti-layout" title='{{ "change_layout" | translate }}'></span></a>
            <a class="btn btn-tree-action btn-xs btn-default" data-nodrag click-and-wait="pin(this)"><span class="glyphicon glyphicon-star" title='{{ "pin_page" | translate }}'></span></a>
            <a class="btn btn-tree-action btn-xs btn-default" ng-if="canEdit && node.disabled === true && !node.isLink" data-nodrag click-and-wait="enable(this)"><span class="glyphicon glyphicon-eye-open" title='{{ "enable_page" | translate }}'></span></a>
            <a class="btn btn-tree-action btn-xs btn-default" ng-if="canEdit && node.disabled === false && !node.isLink" data-nodrag click-and-wait="disable(this)"><span class="glyphicon glyphicon-eye-close" title='{{ "disable_page" | translate }}'></span></a>
            <a class="btn btn-tree-action btn-xs btn-default" ng-if="canEdit && node.isDefault === false" data-nodrag click-and-wait="setDefault(node)"><i class="fa fa-heart" title='{{ "mark_as_default_page" | translate }}'></i></a>
        </div>
        <ol ui-tree-nodes ng-model="node.children" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.children" ui-tree-node ng-include="'pageNodeTemplate.html'" data-collapsed="node.isCollapsed"></li>
        </ol>
    </script>

    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-th"></span> <span translate="Pages"></span>
            </strong>
        </div>
        <div class="panel-body">
            <div class="row" style="margin-bottom: 15px;">

                <div class="col-md-12 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">

                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#websites-expand-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="websites-expand-collapse">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a ng-click="expandAll()">
                                            <span class="glyphicon glyphicon-plus"></span> {{ "expand_all" | translate }}
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="collapseAll()">
                                            <span class="glyphicon glyphicon-minus"></span> {{ "collapse_all" | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-12" ng-cloak>

                    <accordion close-others="false" class="ui-accordion">
                        <accordion-group heading="{{ 'Website' | translate }}: {{website.name}}" ng-repeat="website in websites | orderBy:'name'" is-open="website.isOpen">

                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <nav class="navbar navbar-default" role="navigation">
                                        <div class="container-fluid">

                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#w{{ website.id}}-expand-collapse">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>
                                            </div>

                                            <div class="collapse navbar-collapse" id="w{{ website.id}}-expand-collapse">
                                                <ul class="nav navbar-nav">
                                                    <li ng-show="canEdit">
                                                        <a ng-click="createPage(website)">
                                                            <span class="glyphicon glyphicon-plus"></span> {{ "create_page" | translate }}
                                                        </a>
                                                    </li>
                                                    <li ng-show="canEdit">
                                                        <a ng-click="createPageLink(website)">
                                                            <span class="glyphicon glyphicon-link"></span> {{ "create_page_link" | translate }}
                                                        </a>
                                                    </li>
                                                </ul>
                                                <form class="navbar-form navbar-right" role="search" ng-submit="searchPages(website)">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                                        <input type="text" ng-model="website.searchText" class="form-control" placeholder="{{ 'search' | translate }}">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" style="margin-bottom: 15px;" ng-if="website.starred.length > 0">
                                    <div ui-tree data-drag-enabled="false">
                                        <ol ui-tree-nodes ng-model="website.starred">
                                            <li ng-repeat="node in website.starred | orderBy:'label'" data-collapsed="node.isCollapsed" ui-tree-node ng-include="'pageStarredNodeTemplate.html'" ng-cloak></li>
                                        </ol>
                                    </div>
                                </div>

                                <div class="col-md-12" ng-if="website.pages.length > 0">
                                    <div ui-tree="treeOptions" id="tree-root-{{website.id}}" data-drag-delay="500" data-drag-enabled="true">
                                        <ol ui-tree-nodes ng-model="website.rootPages">
                                            <li ng-repeat="node in website.rootPages" data-collapsed="node.isCollapsed" ui-tree-node ng-include="'pageNodeTemplate.html'" ng-cloak></li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                        </accordion-group>
                    </accordion>

                </div>
            </div>

        </div>
    </section>

</div>