﻿<div class="modal-header">
    <h3 class="modal-title">{{subject}}</h3>
</div>
<div class="modal-body">
    <fieldset>
        <div class="form-group">
            <label for="input">{{label}}</label>
            <input type="text" id="input" class="form-control" ng-model="value" autofocus="autofocus">
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ "ok" | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ "cancel" | translate }}</button>
</div>