﻿<div class="modal-header">
    <h3 class="modal-title">{{ subject }}</h3>
</div>
<div class="modal-body">
    {{ text }}
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ "yes" | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ "no" | translate }}</button>
</div>