﻿<div class="modal-header">
    <h3 class="modal-title">{{subject}}</h3>
</div>
<div class="modal-body">

    <script type="text/template" id="qq-template">
        <div class="qq-uploader-selector qq-uploader">
            <div class="qq-upload-button-selector upload-btn btn btn-lg btn-primary">
                <div ng-bind="uploadButtonText"></div>
            </div>
            <div id="totalProgress" class="qq-total-progress-bar-container-selector progress progress-striped active">
                <div class="qq-total-progress-bar-selector progress-bar" role="progressbar"></div>
            </div>
            <div class="qq-upload-drop-area-selector uploader-drop-zone">
                <span class="drop-zone-text" ng-bind="dropZoneText"></span>
                <ul class="qq-upload-list-selector qq-upload-list">
                    <li class="file-container">
                        <div class="qq-progress-bar-container-selector progress">
                            <div class="qq-progress-bar-selector progress-bar"></div>
                        </div>
                        <div class="file-info">
                            <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                            <span class="qq-upload-file-selector qq-upload-file"></span>
                            <span class="qq-upload-size-selector qq-upload-size"></span>
                        </div>
                        <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
                    </li>
                </ul>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
        </div>
    </script>

    <div id="previewDialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" ng-bind="previewTitle"></h4>
                </div>
                <div class="modal-body text-center">
                    <div class="progress progress-striped active">
                        <div class="progress-bar" role="progressbar" style="width: 100%;"></div>
                    </div>
                    <img id="previewContainer">
                </div>
            </div>
        </div>
    </div>

    <div id="errorDialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ "error" | translate }}</h4>
                </div>
                <div class="modal-body">
                    <div ng-bind="errorMessage"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "close" | translate }}</button>
                </div>
            </div>
        </div>
    </div>

    <!--
        max-file-size = bytes
        10000000000 = 10 GB
    -->
    <div fine-uploader
         upload-server="{{uploadUrl}}"
         max-file-size="10000000000"
         max-file-count="{{maxFileCount}}"></div>



</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()">{{ "close" | translate }}</button>
</div>
