﻿<div class="modal-header">
    <button type="button" ng-click="cancel()" class="close"><i class="fa fa-times fa-lg"></i></button>
    <button type="button" ng-if="!isFullscreen" ng-click="expand()" class="close"><i class="fa fa-expand fa-lg"></i></button>
    <button type="button" ng-if="isFullscreen" ng-click="compress()" class="close"><i class="fa fa-compress fa-lg"></i></button>
    <h3 class="modal-title">{{::subject}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">

            <textarea ui-codemirror="codemirrorOptions" ng-model="content"></textarea>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{::'save' | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{::'cancel' | translate }}</button>
</div>
