﻿<div class="modal-header">
    <h3 class="modal-title">{{::"select_tenants" | translate }}</h3>
</div>
<div class="modal-body">
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-12" ng-if="tenants.length > 0">
            
            <div class="checkbox" ng-repeat="tenant in tenants | orderBy:'name'">
                <label>
                    <input type="checkbox" ng-model="tenant.isSelected"> {{ tenant.name }}
                </label>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{::"ok" | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{::"cancel" | translate }}</button>
</div>