﻿<div class="modal-header">
    <h3 class="modal-title">{{ "select_object" | translate }}</h3>
</div>
<div class="modal-body">
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-12" ng-cloak>
            
            <div class="col-md-12" ng-if="step == 0">
                <div ui-tree data-drag-enabled="false">
                    <ol ui-tree-nodes ng-model="definitions">
                        <li ng-repeat="definition in definitions | orderBy:'name'" ui-tree-node>
                            
                            <div ui-tree-handle class="tree-node tree-node-content" data-nodrag ng-class="{'selected': definition.id == selectedDefinition.id}">
                                <a ng-if="!node.isShared" ng-click="selectDefinition(definition)" class="btn btn-xs disabled" data-nodrag>
                                    <i class="ti-ticket"></i>
                                </a>
                                <a ng-if="node.isShared" ng-click="selectDefinition(definition)" class="btn btn-xs disabled" data-nodrag>
                                    <i class="fa fa-link"></i>
                                </a>
                                <span ng-click="selectDefinition(definition)" style="cursor:pointer;">
                                    {{definition.fullname}}
                                </span>
                            </div>

                        </li>
                    </ol>
                </div>
            </div>
            
            <div class="col-md-12" ng-if="step == 1">
                <a ng-click="goBack()">
                    <span class="glyphicon glyphicon-chevron-left"></span> {{ "change_object_definition" | translate }}
                </a>
            </div>

            <div class="col-md-12" ng-if="step == 1">
                <div ui-tree data-drag-enabled="false">
                    <ol ui-tree-nodes ng-model="objects">
                        <li ng-repeat="o in objects | orderBy:'title'" ui-tree-node>

                            <div ui-tree-handle class="tree-node tree-node-content" data-nodrag ng-class="{'selected': o.id == selectedObject.id}">
                                <a ng-click="selectObject(o)" class="btn btn-xs disabled" data-nodrag>
                                    <span class="glyphicon glyphicon-leaf"></span>
                                </a>
                                <span ng-click="selectObject(o)" style="cursor:pointer;" ng-bind="o.fullname">
                                </span>
                            </div>

                        </li>
                    </ol>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="step == 0 || !selectedObject.id">{{ "ok" | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ "cancel" | translate }}</button>
</div>