﻿<div class="modal-header">
    <h3 class="modal-title">{{ "select_user" | translate }}</h3>
</div>
<div class="modal-body">
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-12" ng-cloak>
            
            <div class="col-md-12 col-xs-12">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nv-expand-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="nv-expand-collapse">
                            <form class="navbar-form navbar-right" role="search">
                                <div class="input-group">
                                    <input type="text" ng-model="searchText" class="form-control" placeholder='{{ "search" | translate }}'>
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">Go</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
            
            <div class="col-md-12" ng-show="users.length > 0">
                <table class="table table-hover selectable">
                    <thead>
                        <tr>
                            <th>{{ "last_name" | translate }}</th>
                            <th>{{ "first_name" | translate }}</th>
                            <th>{{ "email_address" | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users | orderBy:'lastName' | filter:searchText">
                            <td ng-click="select(user)" ng-class="{'selected': user.id == selectedUser.id}"><span ng-bind-html="user.lastName | highlight:searchText:false"></span></td>
                            <td ng-click="select(user)" ng-class="{'selected': user.id == selectedUser.id}"><span ng-bind-html="user.firstName | highlight:searchText:false"></span></td>
                            <td ng-click="select(user)" ng-class="{'selected': user.id == selectedUser.id}"><span ng-bind-html="user.email | highlight:searchText:false"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ "ok" | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ "cancel" | translate }}</button>
</div>