﻿<div class="modal-header">
    <h3 class="modal-title">{{ "select_form" | translate }}</h3>
</div>
<div class="modal-body">
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-12" ng-if="forms.length > 0">

            <div class="angular-ui-tree-handle" ng-repeat="node in forms | orderBy:'name'" ng-class="{'selected': node.id == selectedForm.id}">
                <a class="btn btn-xs" ng-click="select(node)">
                    <span class="fa fa-comments-o"></span>
                </a>
                <span ng-click="select(node)" style="cursor:pointer;" ng-bind="node.name"></span> (Nr. <span ng-click="select(node)" style="cursor:pointer;" ng-bind="node.publicId"></span>)
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ "ok" | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ "cancel" | translate }}</button>
</div>