﻿<script type="text/ng-template" id="fileDirectoryNodeTemplateReadonly.html">
    <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'selected': node.id == selectedDirectory.id}">
        <a class="btn btn-xs" data-nodrag ng-click="toggle(this)" ng-class="{'disabled': node.children.length == 0}">
            <span ng-if="!node.isFileStore" class="glyphicon" ng-class="{'glyphicon-folder-close': collapsed || node.children.length == 0, 'glyphicon-folder-open': !collapsed && node.children.length > 0}"></span>
            <span ng-if="node.isFileStore">
                <img ng-src="{{node.icon}}" style="max-height: 16px; max-width: 16px;" />
            </span>
        </a>
        <span data-nodrag ng-click="selectDirectory(node)" ng-bind="node.name" style="cursor:pointer;">
        </span>
    </div>
    <ol ui-tree-nodes ng-model="node.children" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.children | orderBy:'name'" data-collapsed="node.isCollapsed" ui-tree-node ng-include="'fileDirectoryNodeTemplateReadonly.html'"></li>
    </ol>
</script>

<script type="text/ng-template" id="sharedDirectoryNodeTemplate.html">
    <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'selected': node.id == selectedDirectory.id}">
        <a class="btn btn-xs" data-nodrag ng-click="toggle(this)" ng-class="{'disabled': node.children.length == 0}">
            <span class="glyphicon glyphicon-link"></span>
        </a>
        <span data-nodrag ng-click="selectDirectory(node)" style="cursor:pointer;">
            {{node.name}}
        </span>
    </div>
    <ol ui-tree-nodes ng-model="node.children" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.children | orderBy:'name'" ui-tree-node data-collapsed="node.isCollapsed" ng-include="'sharedDirectoryNodeTemplate.html'"></li>
    </ol>
</script>

<div class="modal-header">
    <h3 class="modal-title">{{ "select_file" | translate }}</h3>
</div>
<div class="modal-body">

    <div class="row" style="margin-bottom: 15px;">

        <div class="col-md-4 col-xs-12">

            <div ui-tree id="tree-root" data-drag-enabled="false">
                <ol ui-tree-nodes ng-model="directories">
                    <li ng-repeat="node in directories | orderBy:'name'" data-collapsed="node.isCollapsed" ui-tree-node ng-include="'fileDirectoryNodeTemplateReadonly.html'" repeat-done="layoutDone()" ng-cloak></li>
                </ol>
            </div>

            <div ui-tree data-drag-enabled="false" id="tree-root-shared" ng-show="sharedDirectoryRoot.children.length > 0">
                <ol ui-tree-nodes ng-model="shared">
                    <li ui-tree-node ng-repeat="node in shared" data-collapsed="node.isCollapsed">
                        <div ui-tree-handle class="tree-node tree-node-content">
                            <a class="btn btn-xs" data-nodrag ng-click="toggle(this)">
                                <span class="glyphicon glyphicon-link"></span>
                            </a>
                            <span data-nodrag ng-click="toggle(this)" style="cursor:pointer;">
                                {{sharedDirectoryRoot.name}}
                            </span>
                        </div>
                        <ol ui-tree-nodes ng-model="node.children" ng-class="{hidden: collapsed}">
                            <li ng-repeat="node in node.children | orderBy:'name'" ui-tree-node data-collapsed="node.isCollapsed" ng-include="'sharedDirectoryNodeTemplate.html'"></li>
                        </ol>
                    </li>
                </ol>
            </div>

        </div>
        <div class="col-md-8 col-xs-12">

            <div ng-repeat="file in files" ng-class="{'selected': file.id == selectedFile.id}" ng-click="selectFile(file)" title="{{file.fullname}}" class="file" style="height: 240px;">
                <img style="width: 150px; height: 150px;" ng-src="{{file.previewUrl}}" />
                <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{file.fullname}}</div>
                <div ng-bind="file.size"></div>
                <div ng-bind="file.date"></div>
            </div>

            <div style="clear: both;"></div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ "ok" | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ "cancel" | translate }}</button>
</div>