﻿<script type="text/ng-template" id="pageStarredNodeTemplateReadonly.html">
    <div ui-tree-handle class="tree-node tree-node-content" data-nodrag ng-class="{'selected': node.id == selectedPage.id}">
        <a class="btn btn-xs disabled" data-nodrag>
            <span class="glyphicon glyphicon-star"></span>
        </a>
        <span ng-if="!node.isLink" ng-class="{'node-inactive': node.disabled === true}" ng-click="selectPage(this)" style="cursor:pointer;">
            {{node.fullname}}
        </span>
        <span ng-if="node.isLink" ng-click="selectPage(this)" style="cursor:pointer;">
            {{node.name}} <span class="glyphicon glyphicon-link"></span> {{node.link.fullname}}
        </span>
    </div>
    <ol ui-tree-nodes ng-model="node.children" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.children" ui-tree-node ng-include="'pageStarredNodeTemplateReadonly.html'"></li>
    </ol>
</script>

<script type="text/ng-template" id="pageNodeTemplateReadonly.html">
    <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'selected': node.id == selectedPage.id}">
        <a class="btn btn-xs" data-nodrag ng-click="toggle(this)" ng-class="{'disabled': getChildren(node.websiteId, node.id).length == 0}">
            <span class="glyphicon" ng-class="{'glyphicon-folder-close': collapsed || getChildren(node.websiteId, node.id).length == 0, 'glyphicon-folder-open': !collapsed && getChildren(node.websiteId, node.id).length > 0}"></span>
        </a>
        <span ng-if="!node.isLink" ng-class="{'node-inactive': node.disabled === true}" data-nodrag ng-click="selectPage(this)" style="cursor:pointer;">
            <span ng-bind-html="node.fullname | highlight:website.searchText:false"></span>
        </span>
        <span ng-if="node.isLink" data-nodrag ng-click="selectPage(this)" style="cursor:pointer;">
            <span ng-bind-html="node.name | highlight:website.searchText:false"></span> <span class="glyphicon glyphicon-link"></span> <span ng-bind="node.link.fullname"></span>
        </span>
    </div>
    <ol ng-init="children=getChildren(node.websiteId, node.id)" ui-tree-nodes ng-model="children" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in children" ui-tree-node ng-include="'pageNodeTemplateReadonly.html'" data-collapsed="node.isCollapsed"></li>
    </ol>
</script>

<div class="modal-header">
    <h3 class="modal-title">{{ "select_page" | translate }}</h3>
</div>
<div class="modal-body">
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-12" ng-cloak>

            <accordion close-others="true" class="ui-accordion">
                <accordion-group heading="{{ 'Website' | translate }}: {{website.name}}" ng-repeat="website in websites | orderBy:'name'" is-open="website.isOpen">

                    <div class="col-md-12" style="margin-bottom: 15px;" ng-if="website.starred.length > 0">
                        <div ui-tree data-drag-enabled="false">
                            <ol ui-tree-nodes ng-model="website.starred">
                                <li ng-repeat="node in website.starred | orderBy:'label'" ui-tree-node ng-include="'pageStarredNodeTemplateReadonly.html'" ng-cloak></li>
                            </ol>
                        </div>
                    </div>

                    <div class="col-md-12" ng-if="website.pages.length > 0">
                        <div ui-tree="treeOptions" id="tree-root-{{website.id}}" data-drag-delay="500" data-drag-enabled="true">
                            <ol ng-init="children=getChildren(website.id, '0')" ui-tree-nodes ng-model="children">
                                <li ng-repeat="node in children" ui-tree-node ng-include="'pageNodeTemplateReadonly.html'" data-collapsed="node.isCollapsed" ng-cloak></li>
                            </ol>
                        </div>
                    </div>

                </accordion-group>
            </accordion>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ "ok" | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ "cancel" | translate }}</button>
</div>