﻿<div class="modal-header">
    <h3 class="modal-title">{{subject}}</h3>
</div>
<div class="modal-body">
    <fieldset>
        <div class="form-group">
            <label for="currentPassword">{{ "current_password" | translate }}</label>
            <input type="password" id="currentPassword" class="form-control" ng-model="oldPassword" autofocus="autofocus">
        </div>
        <div class="form-group">
            <label for="password">{{ "new_password" | translate }}</label>
            <div class="input-group">
                <input type="text" id="password" class="form-control" ng-model="newPassword">
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="generatePassword()"><span class="glyphicon glyphicon-repeat" title='{{ "generate_password" | translate }}'></span></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="showOrHidePasswordButton" type="button" class="btn btn-default" ng-click="showOrHidePassword()"><span class="glyphicon glyphicon-asterisk" title='{{ "show_hide_password" | translate }}'></span></button>
                    </div>
                </div>
            </div>
            <progressbar animate="false" value="pwStrength" type="{{pwStrengthColor}}"><b>{{pwStrengthDisplay}}</b></progressbar>
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ "ok" | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ "cancel" | translate }}</button>
</div>