﻿<div class="modal-header">
    <h3 class="modal-title">{{::"Add_filter_subject" | translate }}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <div class="form-group">
                    <label for="fn">{{::"Filter_field" | translate }}</label>
                    <select id="fn" class="form-control" ng-model="field" ng-options="f as f.name for f in fields"></select>
                </div>

                <div class="form-group" ng-if="filterType !== 'invalid' && filter.fieldName">
                    <label for="op">{{::"Filter_operation" | translate }}</label>
                    <select id="op" class="form-control" ng-model="filter.operator" ng-options="o for o in operations | orderBy:'sortOrder'"></select>
                </div>

                <div ng-if="filterType === 'invalid'">
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">{{ "error" | translate }}:</span>
                        {{::"filter_not_valid" | translate }}
                    </div>
                </div>

                <div ng-class="{'form-group': filterType !== 'boolean', 'checkbox': filterType === 'boolean'}" ng-if="filterType !== 'invalid' && filter.fieldName">
                    <label ng-if="filterType !== 'boolean'" for="vt">{{::"Filter_value" | translate }}</label>

                    <label ng-if="filterType === 'boolean'">
                        <input type="checkbox" ng-model="filter.value" ng-true-value="'true'" ng-false-value="'false'"> {{::"Filter_value" | translate }}
                    </label>

                    <input ng-if="filterType === 'text'" type="text" class="form-control" id="vt" ng-model="filter.value" />

                    <input ng-if="filterType === 'number'" type="text" class="form-control" id="vt" ng-model="filter.value" />

                    <div class="row" ng-if="filterType === 'date'">
                        <div class="col-md-6">
                            <p class="input-group" style="margin-bottom: 0;">
                                <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="field.isDateOpened" ng-model="filter.dateValue" datepicker-options="dateOptions" ng-required="true" close-text="{{::'close' | translate }}"/>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openStartDate($event, field)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" ng-model="filter.timeValue" typeahead="time for time in times | filter:$viewValue | limitTo:8" class="form-control">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <select ng-if="filterType === 'list'" id="vt" class="form-control" ng-model="filter.value" ng-options="o as o for o in field.contentTypeOptions"></select>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{::'ok' | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{::'cancel' | translate }}</button>
</div>