﻿<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span ng-bind-html="definition.name"></span></strong></div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">

                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nv-expand-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="nv-expand-collapse">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a ng-click="add()">
                                            <span class="glyphicon glyphicon-plus"></span> {{ "add_objectdefinitionfield" | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 15px;" ng-show="definition.fields.length > 0">
                    <div class="angular-ui-tree-handle" ng-repeat="field in definition.fields | orderBy:'sortOrder'" ng-class="{'selected': field.name == selectedField}" style="cursor:pointer;">
                        <a class="btn btn-xs" ng-click="select(field)">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>

                        <i ng-class="{'icon-invisible': field.sortOrder != 0 && !field.isSortableField}" class="fa fa-sort" title="{{ 'is_sortable' | translate }}"></i>

                        <span ng-click="select(field)">
                            <span ng-bind="field.name"></span>
                            <span>(<span ng-class="field.contentTypeIcon"></span> {{field.contentTypeTranslation}})</span>
                        </span>
                        <a class="btn btn-tree-action btn-xs btn-default" ng-click="rename(field)">
                            <span class="glyphicon glyphicon-pencil" title="{{ 'change_definition_field' | translate }}"></span>
                        </a>
                        <a ng-if="field.sortOrder > 1" class="btn btn-tree-action btn-xs btn-default" click-and-wait="moveUp(field)">
                            <span class="glyphicon glyphicon-arrow-up" title='{{ "move_up" | translate }}'></span>
                        </a>
                        <a ng-if="field.sortOrder != 0" class="btn btn-tree-action btn-xs btn-default" click-and-wait="moveDown(field)">
                            <span class="glyphicon glyphicon-arrow-down" title='{{ "move_down" | translate }}'></span>
                        </a>
                        <a ng-if="field.sortOrder != 0" class="btn btn-tree-action btn-xs btn-default" click-and-wait="markSortable(field)">
                            <i ng-if="field.isSortableField" class="fa fa-sort" title="{{ 'mark_not_sortable' | translate }}"></i>
                            <i ng-if="!field.isSortableField" class="fa fa-sort" title="{{ 'mark_sortable' | translate }}"></i>
                        </a>
                        <a ng-if="field.sortOrder != 0" class="btn btn-tree-action btn-xs btn-default" ng-click="remove(field)">
                            <span class="glyphicon glyphicon-trash" title='{{ "delete_objectdefinitionfield" | translate }}'></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>