﻿<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span translate="Definitions"></span></strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">

                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#definitions-expand-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="definitions-expand-collapse">
                                <ul class="nav navbar-nav">
                                    <li ng-if="canEdit">
                                        <a ng-click="create()">
                                            <span class="glyphicon glyphicon-plus"></span> {{ "create_object_definition" | translate }}
                                        </a>
                                    </li>
                                </ul>
                                <form class="navbar-form navbar-right" role="search">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                        <input type="text" ng-model="searchText" class="form-control" placeholder="{{ 'search' | translate }}">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 15px;" ng-show="definitions.length > 0">
                    <div class="angular-ui-tree-handle" ng-repeat="node in definitions | filter:searchText | filter:{isStarred:'true'} | orderBy:'name'" ng-class="{'selected': node.id == selectedDefinition.id}">
                        <a class="btn btn-xs">
                            <span class="glyphicon glyphicon-star"></span>
                        </a>
                        <span ng-click="select(this)" style="cursor:pointer;">
                            <span ng-bind-html="node.fullname | highlight:searchText:false"></span>
                        </span>
                        <a ng-show="canEdit" class="btn btn-tree-action btn-xs btn-default" ng-click="rename(this)"><span class="glyphicon glyphicon-font" title="{{ 'rename_object_definition' | translate}}"></span></a>
                        <a ng-show="canEdit" class="btn btn-tree-action btn-xs btn-default" ng-click="edit(this)"><span class="glyphicon glyphicon-pencil" title='{{ "edit_object_definition" | translate }}'></span></a>
                        <a ng-show="canAdmin" class="btn btn-tree-action btn-xs btn-default" ng-click="delete(this)"><span class="glyphicon glyphicon-trash" title='{{ "delete_object_definition" | translate }}'></span></a>
                        <a class="btn btn-tree-action btn-xs btn-default" click-and-wait="unpin(this)"><span class="glyphicon glyphicon-star-empty" title='{{ "unstar_object_definition" | translate }}'></span></a>
                    </div>
                </div>

                <div class="col-md-12" ng-show="definitions.length > 0">
                    <div class="angular-ui-tree-handle" ng-repeat="node in definitions | filter:searchText | orderBy:'name'" ng-class="{'selected': node.id == selectedDefinition.id}">
                        <a class="btn btn-xs" ng-if="!node.isShared">
                            <i class="ti-ticket"></i>
                        </a>
                        <a class="btn btn-xs" ng-if="node.isShared">
                            <i class="fa fa-link"></i>
                        </a>
                        <span ng-click="select(this)" style="cursor:pointer;">
                            <span ng-bind-html="node.fullname | highlight:searchText:false"></span>
                        </span>
                        <i data-nodrag ng-if="node.shared && node.shared.length > 0 && !node.isShared " class="fa fa-link" title="{{ getNames(node.shared) }}" style="cursor:pointer;"></i>
                        <a ng-show="canEdit && !node.isShared" class="btn btn-tree-action btn-xs btn-default" ng-click="rename(this)">
                            <span class="glyphicon glyphicon-font" title="{{ 'rename_object_definition' | translate}}"></span>
                        </a>
                        <a ng-show="canEdit && !node.isShared" class="btn btn-tree-action btn-xs btn-default" ng-click="edit(this)">
                            <span class="glyphicon glyphicon-pencil" title='{{ "edit_object_definition" | translate }}'></span>
                        </a>
                        <a ng-show="canAdmin && !node.isShared" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="shareDefinition(node)">
                            <i class="fa fa-link" title='{{ "share_object_definition" | translate }}'></i>
                        </a>
                        <a ng-show="canAdmin && !node.isShared && node.shared && node.shared.length > 0" class="btn btn-tree-action btn-xs btn-default" data-nodrag click-and-wait="donotshareDefinition(node)">
                            <i class="fa fa-chain-broken" title="{{ 'do_not_share_object_definition' | translate}}"></i>
                        </a>
                        <a ng-show="canAdmin && !node.isShared" class="btn btn-tree-action btn-xs btn-default" ng-click="delete(this)">
                            <span class="glyphicon glyphicon-trash" title='{{ "delete_object_definition" | translate }}'></span>
                        </a>
                        <a ng-show="!node.isShared" class="btn btn-tree-action btn-xs btn-default" click-and-wait="pin(this)">
                            <span class="glyphicon glyphicon-star" title='{{ "star_object_definition" | translate }}'></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section> 
</div>