﻿<div class="modal-header">
    <h3 class="modal-title">{{::subject}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <div ng-class="{'form-group': field.contentType.toUpperCase() != 'BOOLEAN', 'checkbox': field.contentType.toUpperCase() == 'BOOLEAN', 'alert alert-danger': field.isValid === false}" class="form-group" ng-repeat="field in entry.fields track by field.name | orderBy:'sortOrder'">
                    <label ng-if="field.contentType.toUpperCase() != 'BOOLEAN'" for="f{{$index}}">{{::field.name}}</label>

                    <div ng-if="field.contentType.toUpperCase() === 'PAGE'" class="input-group">
                        <input type="text" ng-model="field.value" placeholder="{{::'select_page' | translate }}" typeahead="page as page.fullname for page in getPages($viewValue)" typeahead-loading="loadingPages" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="browsePage(field)" type="button">{{::'browse' | translate }}&hellip;</button>
                        </span>
                    </div>

                    <div ng-if="field.contentType.toUpperCase() === 'OBJECT'" class="input-group">
                        <input type="text" ng-model="field.value" placeholder="{{::'select_object' | translate }}" typeahead="o as o.fullname for o in getObjects($viewValue)" typeahead-loading="loadingObjects" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="browseObject(field)" type="button">{{::'browse' | translate }}&hellip;</button>
                        </span>
                    </div>

                    <div ng-if="field.contentType.toUpperCase() === 'FILE'" class="input-group">
                        <input type="text" ng-model="field.value" placeholder="{{::'select_file' | translate }}" typeahead="file as file.fullname for file in getFiles($viewValue)" typeahead-loading="loadingFiles" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="browseFile(field)" type="button">{{::'browse' | translate }}&hellip;</button>
                        </span>
                    </div>

                    <div ng-if="field.contentType.toUpperCase() === 'FORM'" class="input-group">
                        <input type="text" ng-model="field.value" placeholder="{{::'select_form' | translate }}" typeahead="form as form.fullname for form in getForms($viewValue)" typeahead-loading="loadingForms" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="browseForm(field)" type="button">{{::'browse' | translate }}&hellip;</button>
                        </span>
                    </div>

                    <div ng-if="field.contentType.toUpperCase() === 'PAGELINK'">
                        <div class="input-group" style="margin-bottom: 5px;">
                            <span class="input-group-addon">
                                <input type="radio" ng-model="field.value.linkType" value="none">
                            </span>
                            <input type="text" disabled value="{{::'add_no_link' | translate }}" class="form-control">
                        </div>
                        <div class="input-group" style="margin-bottom: 5px;">
                            <span class="input-group-addon">
                                <input type="radio" ng-model="field.value.linkType" value="page">
                            </span>
                            <input type="text" ng-model="field.value.pageLink" ng-disabled="field.value.linkType != 'page'" placeholder="{{::'add_page_link' | translate }}" typeahead="page as page.fullname for page in getPages($viewValue)" typeahead-loading="loadingPages" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="browsePageLink(field)" type="button" ng-disabled="field.value.linkType != 'page'">{{::"browse" | translate }}&hellip;</button>
                            </span>
                        </div>
                        <div class="input-group" style="margin-bottom: 0;">
                            <span class="input-group-addon">
                                <input type="radio" ng-model="field.value.linkType" value="external">
                            </span>
                            <input type="text" placeholder="{{::'add_external_link' | translate }}" ng-disabled="field.value.linkType != 'external'" ng-model="field.value.externalLink" class="form-control">
                        </div>
                    </div>

                    <label ng-if="field.contentType.toUpperCase() === 'BOOLEAN'">
                        <input type="checkbox" ng-model="field.value"> {{::field.name}}
                    </label>

                    <textarea ng-if="field.contentType.toUpperCase() === 'HTML'" ui-tinymce="tinymceOptions" ng-model="field.value"></textarea>
                    
                    <textarea ng-if="field.contentType.toUpperCase() === 'CODE'" ui-codemirror="codemirrorOptions" ng-model="field.value"></textarea>

                    <textarea ng-if="field.contentType.toUpperCase() === 'MARKDOWN'" rows="3" class="form-control" id="f{{$index}}" ng-model="field.value"></textarea>

                    <input ng-if="field.contentType.toUpperCase() === 'TEXT'" type="text" class="form-control" id="f{{$index}}" ng-model="field.value" />

                    <input ng-if="field.contentType.toUpperCase() === 'NUMBER'" type="text" id="f{{$index}}" class="form-control" ng-model="field.value" />

                    <div class="row" ng-if="field.contentType.toUpperCase() === 'DATE'">
                        <div class="col-md-6">
                            <p class="input-group" style="margin-bottom: 0;">
                                <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="field.isDateOpened" ng-model="field.dateValue" datepicker-options="dateOptions" ng-required="true" close-text="{{::'close' | translate }}" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openStartDate($event, field)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" ng-model="field.timeValue" typeahead="time for time in times | filter:$viewValue | limitTo:8" class="form-control">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <select ng-if="field.contentType.toUpperCase() === 'LIST'" id="f{{$index}}" class="form-control" ng-model="field.value" ng-options="o as o for o in field.contentTypeOptions"></select>
                </div>
            </fieldset>
        </div>
    </div>
    
    <hr />
    
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="ft">{{::'preview' | translate}}</label>
                <select id="ft" class="form-control" ng-model="selectedTemplate" ng-options="o as o.name for o in templates | orderBy:'name'"></select>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 10px;" ng-if="selectedTemplate && selectedTemplate.id && preview">
            <div style="overflow: auto; max-height: 250px;" ng-bind-html="preview"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" ng-class="{'btn-primary': objectIsValid, 'btn-danger': !objectIsValid}" ng-click="ok()">{{::'ok' | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{::'cancel' | translate }}</button>
</div>
