﻿<div class="modal-header">
    <h3 class="modal-title">{{::"import_ojects" | translate }}</h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb-alt">
                <li ng-class="{active: currentStep === 0}" ng-click="goToStep(0)"><a>{{::"import_step_0_upload_csv_file" | translate }}</a></li>
                <li ng-class="{active: currentStep === 1}" ng-click="goToStep(1)"><a>{{::"import_step_1_settings" | translate }}</a></li>
                <li ng-class="{active: currentStep === 2}" ng-click="goToStep(2)"><a>{{::"import_step_2_field_mapping" | translate }}</a></li>
                <li ng-class="{active: currentStep === 3}" ng-click="goToStep(3)"><a>{{::"import_step_3_preview" | translate }}</a></li>
            </ol>
        </div>
    </div>

    <div class="row well">
        <div class="col-md-12" ng-show="currentStep===0">
            <h4>{{::"import_step_0_upload_csv_file" | translate }}</h4>
            <div class="form-group">
                <div class="input-group file-input-group">
                    <input ng-model="csvFileName" type="text" class="form-control" readonly>
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                            {{::"browse" | translate }}&hellip; <input type="file" file-model="csvFile">
                        </span>
                    </span>
                </div>
            </div>
            <button ng-disabled="!isUploadEnabled" ng-click="upload()" class="btn btn-primary" type="button">{{::"upload" | translate }}</button>
        </div>
        <div class="col-md-12" ng-show="currentStep===1">
            <h4>{{::"import_step_1_settings" | translate }}</h4>
            <div class="form-group">
                <label>{{::"delimiter" | translate }}</label>
                <select ng-model="options.delimiter" class="form-control">
                    <option value="\t">{{::"tabulator" | translate }}</option>
                    <option value=";">{{::"semicolon" | translate }} (;)</option>
                    <option value=",">{{::"comma" | translate }} (,)</option>
                </select>
            </div>
            <div class="form-group">
                <label>{{::"encoding" | translate }}</label>
                <select ng-model="options.encoding" class="form-control" ng-options="e.name as e.displayName for e in encodings"></select>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="options.hasHeaderRecord" /> {{::"first_row_is_header" | translate }}
                </label>
            </div>
            <button ng-click="back()" class="btn btn-default" type="button">{{ "back" | translate }}</button>
            <button ng-click="goToMapping()" class="btn btn-primary" type="button">{{ "go_to_field_mapping" | translate }}</button>
        </div>
        <div class="col-md-12" ng-show="currentStep===2">
            <h4>{{::"import_step_2_field_mapping" | translate }}</h4>
            <div class="form-horizontal">
                <div class="form-group" ng-repeat="mapping in options.mapping | orderBy:'sortOrder'">
                    <label class="col-sm-3 control-label">{{::mapping.objectField}}</label>
                    <div class="col-sm-4">
                        <select ng-model="mapping.column" class="form-control" ng-options="c.value as c.header for c in columns"></select>
                    </div>
                    <div class="col-sm-4" ng-if="mapping.contentType.toUpperCase() === 'DATE'">
                        <select ng-model="mapping.format" class="form-control">
                            <option value="yyyy-MM-dd">yyyy-MM-dd</option>
                            <option value="yyyy-MM-dd HH:mm">yyyy-MM-dd HH:mm</option>
                            <option value="dd.MM.yyyy">dd.MM.yyyy</option>
                            <option value="dd.MM.yyyy HH:mm">dd.MM.yyyy HH:mm</option>
                            <option value="MM/dd/yyyy">MM/dd/yyyy</option>
                            <option value="MM/dd/yyyy HH:mm">MM/dd/yyyy HH:mm</option>
                        </select>
                    </div>
                    <div class="col-sm-5" ng-if="mapping.contentType.toUpperCase() === 'BOOLEAN'">
                        True = Ja = Yes = 1<br/>
                        False = Nein = No = 0
                    </div>
                    <div class="col-sm-5" ng-if="mapping.contentType.toUpperCase() === 'FILE'">
                        <span style="  display: inline-block;margin-bottom:0;padding-top:7px;">
                            ID der Datei
                        </span>
                    </div>
                    <div class="col-sm-5" ng-if="mapping.contentType.toUpperCase() === 'PAGE'">
                        <span style="  display: inline-block;margin-bottom:0;padding-top:7px;">
                            ID der Seite
                        </span>
                    </div>
                    <div class="col-sm-5" ng-if="mapping.contentType.toUpperCase() === 'OBJECT'">
                        <span style="  display: inline-block;margin-bottom:0;padding-top:7px;">
                            ID des Objekts
                        </span>
                    </div>
                    <div class="col-sm-5" ng-if="mapping.contentType.toUpperCase() === 'FORM'">
                        <span style="  display: inline-block;margin-bottom:0;padding-top:7px;">
                            ID des Formulars
                        </span>
                    </div>
                    <div class="col-sm-5" ng-if="mapping.contentType.toUpperCase() === 'PAGELINK'">
                        <span style="  display: inline-block;margin-bottom:0;padding-top:7px;">
                            ID der Seite oder URL
                        </span>
                    </div>
                </div>
            </div>
            <button ng-click="back()" class="btn btn-default" type="button">{{::"back" | translate }}</button>
            <button ng-click="goToPreview()" class="btn btn-primary" type="button">{{::"show_preview" | translate }}</button>
        </div>
        <div class="col-md-12" ng-show="currentStep===3">
            <h4>{{::"import_step_3_preview" | translate }}</h4>

            <div style="overflow-x: auto;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 40px;">&nbsp;</th>
                            <th ng-repeat="h in previewHeaders">{{ h }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="object in preview" ng-class="{danger: !object.isValid}">
                            <td>
                                <span ng-show="object.isValid" class="glyphicon glyphicon-ok"></span>
                                <span ng-show="!object.isValid" class="glyphicon glyphicon-remove" title="{{ object.error }}"></span>
                            </td>
                            <td ng-repeat="c in object.cells">{{ c.value }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button ng-click="back()" class="btn btn-default" type="button">{{::"back" | translate }}</button>
            <button ng-click="import()" class="btn btn-primary" type="button">{{::"import" | translate }}</button>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">{{::"close" | translate }}</button>
</div>