﻿<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span ng-bind="title"></span></strong></div>
        <div class="panel-body">

            <div class="col-md-12" style="margin-bottom: 15px;" ng-show="definitions.length > 0">
                <div class="angular-ui-tree-handle" ng-repeat="node in definitions | filter:{isStarred:'true'} | orderBy:'name'">
                    <a class="btn btn-xs">
                        <span class="glyphicon glyphicon-star"></span>
                    </a>
                    <span ng-click="select(node)" style="cursor:pointer;">
                        <span ng-bind="node.fullname"></span>
                    </span>
                </div>
            </div>

            <div class="col-md-12" ng-show="definitions.length > 0">
                <div class="angular-ui-tree-handle" ng-repeat="node in definitions | orderBy:'name'">
                    <a class="btn btn-xs" ng-if="!node.isShared">
                        <i class="ti-ticket"></i>
                    </a>
                    <a class="btn btn-xs" ng-if="node.isShared">
                        <i class="fa fa-link"></i>
                    </a>
                    <span ng-click="select(node)" style="cursor:pointer;">
                        <span ng-bind-html="node.fullname"></span>
                    </span>
                </div>
            </div>

        </div>
    </section> 

</div>