﻿<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span translate="Objects"></span> {{definitionName}}</strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">

                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#objectlist-expand-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="objectlist-expand-collapse">
                                <ul class="nav navbar-nav">
                                    <li ng-if="canEdit">
                                        <a ng-click="create()">
                                            <span class="glyphicon glyphicon-plus"></span> {{ 'create_object' | translate }}
                                        </a>
                                    </li>
                                    <li ng-if="canEdit">
                                        <a ng-click="import()">
                                            <span class="glyphicon glyphicon-import"></span> {{ "import" | translate}}
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="addFilter()">
                                            <span class="glyphicon glyphicon-filter"></span> {{ 'add_filter' | translate }}
                                        </a>
                                    </li>
                                </ul>
                                <form class="navbar-form navbar-right" role="search">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                        <input type="text" ng-model="searchText" class="form-control" placeholder="{{ 'search' | translate }}">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills">
                        <li ng-repeat="f in filters"><a ng-click="removeFilter(f)">{{ f.displayName }} <span class="glyphicon glyphicon-remove"></span></a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" ng-show="objects.length > 0">
                    
                    <table class="table table-hover selectable">
                        <thead>
                            <tr>
                                <th style="width: 40px;">&nbsp;</th>
                                <th style="width: 70px;">
                                    Nr.
                                    <a class="btn btn-xs btn-link btn-sort" ng-if="sortField != 'nr' && sortField != '-nr'" ng-click="setSortOrder('nr')">
                                        <i class="fa fa-sort-asc"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link" ng-if="sortField == 'nr'" ng-click="setSortOrder('-nr')">
                                        <i class="fa fa-sort-asc"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link" ng-if="sortField == '-nr'" ng-click="setSortOrder('nr')">
                                        <i class="fa fa-sort-desc"></i>
                                    </a>
                                </th>
                                <th>
                                    {{ "title" | translate }}
                                    <a class="btn btn-xs btn-link btn-sort" ng-if="sortField != 'title' && sortField != '-title'" ng-click="setSortOrder('title')">
                                        <i class="fa fa-sort-asc"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link" ng-if="sortField == 'title'" ng-click="setSortOrder('-title')">
                                        <i class="fa fa-sort-asc"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link" ng-if="sortField == '-title'" ng-click="setSortOrder('title')">
                                        <i class="fa fa-sort-desc"></i>
                                    </a>
                                </th>
                                <th ng-repeat="sortableField in sortableFields">
                                    {{ sortableField.name }}
                                    <a class="btn btn-xs btn-link btn-sort" ng-if="sortField != 'sortableFields.f' + sortableField.sortOrder + '.sort' && sortField != '-sortableFields.f' + sortableField.sortOrder + '.sort'" ng-click="setSortOrder('sortableFields.f' + sortableField.sortOrder + '.sort')">
                                        <i class="fa fa-sort-asc"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link" ng-if="sortField == 'sortableFields.f' + sortableField.sortOrder + '.sort'" ng-click="setSortOrder('-sortableFields.f' + sortableField.sortOrder + '.sort')">
                                        <i class="fa fa-sort-asc"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link" ng-if="sortField == '-sortableFields.f' + sortableField.sortOrder + '.sort'" ng-click="setSortOrder('sortableFields.f' + sortableField.sortOrder + '.sort')">
                                        <i class="fa fa-sort-desc"></i>
                                    </a>
                                </th>
                                <th style="width: 175px;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="node in objects | filter:searchText | orderBy:sortField">
                                <td ng-click="select(node)" ng-class="{selected: node.id == selectedObject.id}">
                                    <span class="glyphicon glyphicon-leaf" ng-if="!node.isShared"></span>
                                    <i class="fa fa-link" ng-if="node.isShared"></i>
                                </td>
                                <td ng-click="select(node)" ng-class="{selected: node.id == selectedObject.id}">
                                    <span ng-bind-html="node.nr | highlight:searchText:false"></span>
                                </td>
                                <td ng-click="select(node)" ng-class="{selected: node.id == selectedObject.id}">
                                    <span ng-bind-html="node.title | highlight:searchText:false"></span>
                                </td>
                                <td ng-repeat="sortableField in sortableFields" ng-click="select(node)" ng-class="{selected: node.id == selectedObject.id}">
                                    <span ng-bind-html="node.sortableFields['f' + sortableField.sortOrder].view | highlight:searchText:false"></span>
                                </td>
                                <td ng-class="{selected: node.id == selectedObject.id}">
                                    <i data-nodrag ng-if="node.shared && node.shared.length > 0 && !node.isShared " class="fa fa-link" title="{{ getNames(node.shared) }}" style="cursor: pointer;"></i>
                                    <a ng-show="canEdit && !node.isShared" class="btn btn-tree-action btn-xs btn-default" ng-click="edit(node)">
                                        <span class="glyphicon glyphicon-pencil" title="{{ 'edit_object' | translate }}"></span>
                                    </a>
                                    <a ng-show="canEdit && !node.isShared" class="btn btn-tree-action btn-xs btn-default" ng-click="duplicate(node)">
                                        <span class="fa fa-files-o" title="{{ 'duplicate_object' | translate }}"></span>
                                    </a>
                                    <a ng-show="canAdmin && !node.isShared" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="share(node)">
                                        <i class="fa fa-link" title='{{ "share_object" | translate }}'></i>
                                    </a>
                                    <a ng-show="canAdmin && !node.isShared && node.shared && node.shared.length > 0" class="btn btn-tree-action btn-xs btn-default" data-nodrag click-and-wait="donotshare(node)">
                                        <i class="fa fa-chain-broken" title="{{ 'do_not_share_object' | translate}}"></i>
                                    </a>
                                    <a ng-show="canAdmin && !node.isShared" class="btn btn-tree-action btn-xs btn-default" ng-click="delete(node)">
                                        <span class="glyphicon glyphicon-trash" title="{{ 'delete_object' | translate }}"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>

</div>