﻿<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-th"></span> <span translate="Template"></span> {{template.name}} (Nr. {{::template.publicId}})</strong>
        </div>
        <div class="panel-body">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-12">
                    <fieldset>
                        <div class="form-group">
                            <label for="name">{{ 'name' | translate }}</label>
                            <input type="text" id="name" class="form-control" ng-model="template.name" readonly ng-click="editName()" />
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </section>

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-th"></span> {{ 'template' | translate }}</strong>
        </div>
        <div class="panel-body">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" ng-click="saveTemplate()">
                        <span class="glyphicon glyphicon-floppy-disk"></span> {{ 'save' | translate }}
                    </button>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-12">
                    <textarea ui-codemirror="codemirrorOptions" ng-model="template.template"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>