<div ng-controller="StatsController">
    <div class="page page-dashboard">

        <section ng-if="showMetrics">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <strong>
                        <span class="glyphicon glyphicon-th"></span> Metrics
                    </strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <canvas id="line" class="chart chart-line" data="metricData" labels="metricLabels"
                                    options="options" legend="true" series="metricSeries" height="50"></canvas>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div id="gaugeCpu"></div>
                        </div>
                        <div class="col-md-3">
                            <div id="gaugeRam"></div>
                        </div>
                        <div class="col-md-3">
                            <div id="gaugeDisc"></div>
                        </div>
                        <div class="col-md-3">
                            <div id="gaugeCache"></div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section>
            <section class="panel panel-default">
                <div class="panel-heading">
                    <strong>
                        <span class="glyphicon glyphicon-th"></span> page_views
                    </strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <canvas id="line" class="chart chart-line" data="dayData" labels="dayLabels"
                                    legend="true" series="daySeries" height="80"></canvas>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <canvas id="line" class="chart chart-line" data="monthData" labels="monthLabels"
                                    legend="true" series="monthSeries" height="80"></canvas>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <div class="row text-center">
            <div class="col-lg-3 col-xsm-6">
                <div class="panel mini-box">
                    <span class="btn btn-icon btn-icon-round btn-icon-lg-alt bg-success">
                        <span class="ti-stats-up"></span>
                    </span>
                    <div class="box-info">
                        <p class="size-h2">{{ viewsPerVisit }}</p>
                        <p class="text-muted"><span translate="page_views_per_visit"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xsm-6">
                <div class="panel mini-box">
                    <span class="btn btn-icon btn-icon-round btn-icon-lg-alt bg-info">
                        <i class="ti-user"></i>
                    </span>
                    <div class="box-info">
                        <p class="size-h2">{{ returningUsers }} <span class="size-h4">%</span></p>
                        <p class="text-muted"><span translate="returning_visitors"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xsm-6">
                <div class="panel mini-box">
                    <span class="btn btn-icon btn-icon-round btn-icon-lg-alt bg-warning">
                        <i class="ti-money"></i>
                    </span>
                    <div class="box-info">
                        <p class="size-h2">{{ totalPageViews }}</p>
                        <p class="text-muted"><span translate="total_visits"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xsm-6">
                <div class="panel mini-box">
                    <span class="btn btn-icon btn-icon-round btn-icon-lg-alt bg-danger">
                        <i class="ti-shopping-cart"></i>
                    </span>
                    <div class="box-info">
                        <p class="size-h2">{{ totalSessions }}</p>
                        <p class="text-muted"><span translate="total_visitors"></span></p>
                    </div>
                </div>
            </div>
        </div>

        <section>
            <section class="panel panel-default" ng-repeat="website in data">
                <div class="panel-heading">
                    <strong>
                        <span class="glyphicon glyphicon-th"></span> {{ website.websiteName }}
                    </strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{ "Page" | translate }}</th>
                                        <th>{{ "Views" | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="tp in website.pages">
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ tp.label }}</td>
                                        <td>{{ tp.value }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <div class="ui-map" ui-jvectormap options="website.pageMap"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <table class="table table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{ "File" | translate }}</th>
                                        <th>{{ "Views" | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="tp in website.files">
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ tp.label }}</td>
                                        <td>{{ tp.value }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <div class="ui-map" ui-jvectormap options="website.fileMap"></div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>