<header class="top-header clearfix">

    <!-- Logo -->
    <div class="logo">
        <a href="#/">
            <span>{{main.brand}}</span>
        </a>
    </div>

    <!-- needs to be put after logo to make it work -->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/" data-toggle-nav-collapsed-min class="toggle-min"><i class="ti-menu"></i></a>
            </li>
            <!--<li class="search-box visible-md visible-lg">
                <div class="input-group">
                    <span class="input-group-addon"><i class="ti-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
            </li>-->
            <!--<li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="ti-email"></i>
                    <span class="badge badge-danger">3</span>
                </a>
                <div class="dropdown-menu with-arrow panel panel-default">
                    <div class="panel-heading">
                        You have 3 mails.
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="pull-left media-icon">
                                    <span class="btn-icon btn-icon-round btn-warning"><i class="ti-email"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">Lisa sent you a mail</span>
                                    <span class="text-muted block">2min ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="pull-left media-icon">
                                    <span class="btn-icon btn-icon-round btn-info"><i class="ti-email"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">Jane sent you a mail</span>
                                    <span class="text-muted">3 hours ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="pull-left media-icon">
                                    <span class="btn-icon btn-icon-round btn-success"><i class="ti-email"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">Lynda sent you a mail</span>
                                    <span class="text-muted">9 hours ago</span>
                                </div>
                            </a>
                        </li>                       
                    </ul>
                    <div class="panel-footer">
                        <a href="#/mail/inbox">Show all mails.</a>
                    </div>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="ti-bell"></i>
                    <span class="badge badge-info">3</span>
                </a>
                <div class="dropdown-menu with-arrow panel panel-default">
                    <div class="panel-heading">
                        You have 3 notifications.
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="pull-left media-icon">
                                    <span class="btn-icon btn-icon-round btn-success"><i class="ti-bell"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">New tasks needs to be done</span>
                                    <span class="text-muted block">2min ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="pull-left media-icon">
                                    <span class="btn-icon btn-icon-round btn-info"><i class="ti-bell"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">Change your password</span>
                                    <span class="text-muted">3 hours ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="pull-left media-icon">
                                    <span class="btn-icon btn-icon-round btn-danger"><i class="ti-bell"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">New feature added</span>
                                    <span class="text-muted">9 hours ago</span>
                                </div>
                            </a>
                        </li>                       
                    </ul>
                    <div class="panel-footer">
                        <a href="#/mail/inbox">Show all notifications.</a>
                    </div>
                </div>
            </li>-->
        </ul> 

        <ul class="nav-right pull-right list-unstyled" ng-controller="AuthenticationController">

            <li class="dropdown" ng-controller="TenantController">
                <span class="dropdown" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle style="cursor: pointer;">{{ currentTenant.name }}</a>
                    <ul class="dropdown-menu with-arrow" ng-if="tenants.length > 0">
                        <li ng-repeat="tenant in tenants | orderBy:'name'">
                            <a ng-click="setTenant(tenant)">{{tenant.name}}</a>
                        </li>
                    </ul>
                </span>
            </li>
            <li class="dropdown text-normal nav-profile">
                <span class="dropdown" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle style="cursor: pointer;">
                        <img ng-src="//www.gravatar.com/avatar/{{ currentUser.email | gravatar }}?s=30" alt="" class="img-circle img30_30" />
                        <span class="hidden-xs">
                            <span>{{currentUser.name}}</span>
                        </span>
                    </a>
                    <ul class="dropdown-menu with-arrow">
                        <li>
                            <a href="#/profile">
                                <i class="ti-user"></i>
                                <span translate="My Profile"></span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="lock()">
                                <i class="ti-lock"></i>
                                <span translate="Lock"></span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="logout()">
                                <i class="ti-export"></i>
                                <span translate="Log Out"></span>
                            </a>
                        </li>
                    </ul>
                </span>
            </li>
            <li class="dropdown langs text-normal" ng-controller="LanguageController">
                <span class="dropdown" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle style="cursor: pointer;">
                        <div class="flag {{ getFlag() }}"></div>
                    </a>
                    <ul class="dropdown-menu with-arrow pull-right list-langs">
                        <li ng-show="lang !== 'en' ">
                            <a ng-click="setLang('en')"><span><span class="flag flags-american"></span> English</span></a>
                        </li>
                        <li ng-show="lang !== 'de' ">
                            <a ng-click="setLang('de')"><span><span class="flag flags-germany"></span> Deutsch</span></a>
                        </li>
                        <li ng-show="lang !== 'fr' ">
                            <a ng-click="setLang('fr')"><span><span class="flag flags-france"></span> français</span></a>
                        </li>
                        <li ng-show="lang !== 'it' ">
                            <a ng-click="setLang('it')"><span><span class="flag flags-italy"></span> Italiano</span></a>
                        </li>
                    </ul>
                </span>
            </li>
        </ul>
    </div>

</header>
