        
<div class="nav-wrapper" ng-controller="NavigationController">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        
        <li ng-class="{hidden: !visibility.dashboard}"><a href="#/dashboard"> <i class="ti-home"></i><span translate="Dashboard"></span> </a></li>
        <li ng-class="{hidden: !visibility.content}">
            <a href="#/content"><i class="ti-layout-media-right-alt"></i><span translate="Content"></span></a>
            <ul>
                <li ng-class="{hidden: !visibility.content.page}"><a href="#/content/pages"><i class="ti-angle-right"></i><span translate="Pages"></span></a></li>
                <li ng-class="{hidden: !visibility.content.file}"><a href="#/content/files"><i class="ti-angle-right"></i><span translate="Files"></span></a></li>
                <li ng-class="{hidden: !visibility.content.form}"><a href="#/content/forms"><i class="ti-angle-right"></i><span translate="Forms"></span></a></li>
            </ul>
        </li>
        <li ng-class="{hidden: !visibility.object}">
            <a href="#/objects"><i class="ti-ticket"></i><span translate="Objects"></span></a>
            <ul>
                <li ng-class="{hidden: !visibility.object.object}"><a href="#/objects/objects"><i class="ti-angle-right"></i><span translate="Objects"></span></a></li>
                <li ng-class="{hidden: !visibility.object.template}"><a href="#/objects/templates"><i class="ti-angle-right"></i><span translate="Templates"></span></a></li>
                <li ng-class="{hidden: !visibility.object.definition}"><a href="#/objects/definitions"><i class="ti-angle-right"></i><span translate="Definitions"></span></a></li>
            </ul>
        </li>
        <li ng-class="{hidden: !visibility.calendar}">
            <a href="#/calendar"><i class="ti-calendar"></i><span translate="Calendar"></span></a>
            <ul>
                <li ng-class="{hidden: !visibility.calendar.appointments}"><a href="#/calendar/appointments"><i class="ti-angle-right"></i><span translate="Appointments"></span></a></li>
                <li ng-class="{hidden: !visibility.calendar.categories}"><a href="#/calendar/categories"><i class="ti-angle-right"></i><span translate="Categories"></span></a></li>
                <li ng-class="{hidden: !visibility.calendar.templates}"><a href="#/calendar/templates"><i class="ti-angle-right"></i><span translate="Templates"></span></a></li>
            </ul>
        </li>
        <li ng-class="{hidden: !visibility.master}">
            <a href="#/master"><i class="ti-panel"></i><span translate="Master data"></span></a>
            <ul>
                <li ng-class="{hidden: !visibility.master.tenant}"><a href="#/master/tenants"><i class="ti-angle-right"></i><span translate="Tenants"></span></a></li>
                <li ng-class="{hidden: !visibility.master.website}"><a href="#/master/websites"><i class="ti-angle-right"></i><span translate="Websites"></span></a></li>
                <li ng-class="{hidden: !visibility.master.pagetemplate}"><a href="#/master/pagetemplates"><i class="ti-angle-right"></i><span translate="Page Templates"></span></a></li>
            </ul>
        </li>
        <li ng-class="{hidden: !visibility.user}">
            <a href="#/user"><i class="ti-user"></i><span translate="User"></span></a>
            <ul>
                <li ng-class="{hidden: !visibility.user.user}"><a href="#/user/users"><i class="ti-angle-right"></i><span translate="Users"></span></a></li>
                <li ng-class="{hidden: !visibility.user.group}"><a href="#/user/groups"><i class="ti-angle-right"></i><span translate="Groups"></span></a></li>
            </ul>
        </li>
        <li ng-class="{hidden: !visibility.system}">
            <a href="#/system"><i class="ti-bolt"></i><span translate="System"></span></a>
            <ul>
                <li ng-class="{hidden: !visibility.system.eventlog}"><a href="#/system/eventlog"><i class="ti-angle-right"></i><span translate="Eventlog"></span></a></li>
                <li ng-class="{hidden: !visibility.system.serverlog}"><a href="#/system/serverlog"><i class="ti-angle-right"></i><span translate="Serverlog"></span></a></li>
                <li ng-class="{hidden: !visibility.system.setting}"><a href="#/system/settings"><i class="ti-angle-right"></i><span translate="Settings"></span></a></li>
                <li ng-class="{hidden: !visibility.system.maintenance}"><a href="#/system/messages"><i class="ti-angle-right"></i><span translate="System messages"></span></a></li>
                <li ng-class="{hidden: !visibility.system.filestore}"><a href="#/system/filestore"><i class="ti-angle-right"></i><span translate="File stores"></span></a></li>
            </ul>
        </li>


        <!--<li>
            <a href="#/ui"><i class="ti-wand"></i><span translate="UI Kit"></span></a>
            <ul>
                <li><a href="#/ui/typography"><i class="ti-angle-right"></i><span translate="Typography"></span></a></li>
                <li><a href="#/ui/icons"><i class="ti-angle-right"></i><span translate="Icons"></span> <span class="badge badge-info">3</span></a></li>
                <li><a href="#/ui/buttons"><i class="ti-angle-right"></i><span translate="Buttons"></span></a></li>
                <li><a href="#/ui/components"><i class="ti-angle-right"></i><span translate="Components"></span> <span class="badge badge-danger">17</span></a></li>
                <li><a href="#/ui/boxes"><i class="ti-angle-right"></i><span translate="Boxes"></span></a></li>
                <li><a href="#/ui/widgets"><i class="ti-angle-right"></i><span translate="Widgets"></span> <span class="badge badge-success">13</span></a></li>
                <li><a href="#/ui/timeline"><i class="ti-angle-right"></i><span translate="Timeline"></span></a></li>
                <li><a href="#/ui/nested-lists"><i class="ti-angle-right"></i><span translate="Nested Lists"></span></a></li>
                <li><a href="#/ui/pricing-tables"><i class="ti-angle-right"></i><span translate="Pricing Tables"></span></a></li>
                <li><a href="#/ui/maps"><i class="ti-angle-right"></i><span translate="Maps"></span></a></li>
                <li><a href="#/ui/grids"><i class="ti-angle-right"></i><span translate="Grids"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/pages"><i class="ti-files"></i><span translate="Pages"></span></a>
            <ul>
                <li><a href="http://iarouse.com/dist-slim/landing/index.html" target="_blank"><i class="ti-angle-right"></i><span translate="Landing"></span></a></li>
                <li><a href="#/pages/signin"><i class="ti-angle-right"></i><span translate="Sign In"></span></a></li>
                <li><a href="#/pages/signup"><i class="ti-angle-right"></i><span translate="Sign Up"></span></a></li>
                <li><a href="#/pages/forgot-password"><i class="ti-angle-right"></i><span translate="Forgot Password"></span></a></li>
                <li><a href="#/pages/lock-screen"><i class="ti-angle-right"></i><span translate="Lock Screen"></span></a></li>
                <li><a href="#/pages/profile"><i class="ti-angle-right"></i><span translate="User Profile"></span></a></li>
                <li><a href="#/pages/invoice"><i class="ti-angle-right"></i><span translate="Invoice"></span></a></li>
                <li><a href="#/pages/404"><i class="ti-angle-right"></i>404 <span translate="Error"></span></a></li>
                <li><a href="#/pages/500"><i class="ti-angle-right"></i>500 <span translate="Error"></span></a></li>
                <li><a href="#/pages/blank"><i class="ti-angle-right"></i><span translate="Blank Page"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/table"><i class="ti-layout-grid4"></i><span translate="Tables"></span></a>
            <ul>
                <li><a href="#/tables/static"><i class="ti-angle-right"></i><span translate="Static Tables"></span></a></li>
                <li><a href="#/tables/responsive"><i class="ti-angle-right"></i><span translate="Responsive Tables"></span> <span class="badge badge-info">2</span></a></li>
                <li><a href="#/tables/dynamic"><i class="ti-angle-right"></i><span translate="Dynamic Tables"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/form"><i class="ti-pencil"></i><span translate="Forms"></span></a>
            <ul>
                <li><a href="#/forms_old/layouts"><i class="ti-angle-right"></i><span translate="Form Layouts"></span></a></li>
                <li><a href="#/forms_old/elements"><i class="ti-angle-right"></i><span translate="Form Elements"></span> <span class="badge badge-info">13</span></a></li>
                <li><a href="#/forms_old/validation"><i class="ti-angle-right"></i><span translate="Form Validation"></span></a></li>
                <li><a href="#/forms_old/wizard"><i class="ti-angle-right"></i><span translate="Form Wizard"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/charts"><i class="ti-bar-chart"></i><span translate="Charts"></span></a>
            <ul>
                <li><a href="#/charts/flot"><i class="ti-angle-right"></i>Flot <span translate="Charts"></span></a></li>
                <li><a href="#/charts/charts"><i class="ti-angle-right"></i>Other <span translate="Charts"></span></a></li>
            </ul>
        </li>
        <li class="nav-task">
            <a href="#/tasks/tasks">
                <i class="ti-check-box"></i><span translate="Tasks"></span>
                <span class="badge badge-danger main-badge">5</span>
            </a>
        </li>
        <li>
            <a href="#/mail"><i class="ti-email"></i><span translate="Mail"></span></a>
            <ul>
                <li><a href="#/mail/inbox"><i class="ti-angle-right"></i><span translate="Inbox"></span></a></li>
                <li><a href="#/mail/compose"><i class="ti-angle-right"></i><span translate="Compose"></span></a></li>
                <li><a href="#/mail/single"><i class="ti-angle-right"></i><span translate="Single Mail"></span></a></li>
            </ul>
        </li>-->
    </ul>
</div>