﻿<div class="modal-header">
    <h3 class="modal-title">{{subject}}</h3>
</div>
<div class="modal-body">
    <fieldset>
        <div class="form-group">
            <label for="firstName">{{::"first_name" | translate }}</label>
            <input type="text" id="firstName" class="form-control" ng-model="user.firstName" autofocus="autofocus">
        </div>
        <div class="form-group">
            <label for="lastName">{{::"last_name" | translate }}</label>
            <input type="text" id="lastName" class="form-control" ng-model="user.lastName">
        </div>
        <div class="form-group">
            <label for="email">{{::"email_address" | translate }}</label>
            <input type="email" id="email" class="form-control" ng-model="user.email">
        </div>
        <div class="form-group">
            <label for="password">{{::"password" | translate }}</label>
            <div class="input-group">
                <input type="text" id="password" class="form-control" ng-model="user.password">
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" title='{{::"generate_password" | translate }}' ng-click="generatePassword()"><span class="glyphicon glyphicon-repeat"></span></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="showOrHidePasswordButton" title='{{::"show_hide_password" | translate }}' type="button" class="btn btn-default" ng-click="showOrHidePassword()"><span class="glyphicon glyphicon-asterisk"></span></button>
                    </div>
                </div>
            </div>
            <progressbar animate="false" value="pwStrength" type="{{pwStrengthColor}}"><b>{{pwStrengthDisplay}}</b></progressbar>
        </div>
        <div class="checkbox" ng-if="currentUser.isSysadmin && !isEditing">
            <label>
                <input type="checkbox" ng-model="user.isSysadmin"> {{::"sysadmin" | translate }}
            </label>
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{::"ok" | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{::"cancel" | translate }}</button>
</div>