﻿<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span translate="Groups"></span></strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">

                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li ng-if="canEdit">
                                        <a ng-click="create()">
                                            <span class="glyphicon glyphicon-plus"></span> {{ 'create_group' | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12" ng-show="groups.length > 0">
                    <div class="angular-ui-tree-handle" ng-repeat="node in groups | orderBy:'name'" ng-class="{'selected': node.id == selectedGroup.id}">
                        <a class="btn btn-xs" ng-click="select(node)">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                        <span ng-click="select(node)" style="cursor:pointer;" ng-bind="node.name"></span>
                        <a ng-show="canEdit" class="btn btn-tree-action btn-xs btn-default" ng-click="rename(node)"><span class="glyphicon glyphicon-font" title='{{ "rename_group" | translate }}'></span></a>
                        <a ng-show="canAdmin" class="btn btn-tree-action btn-xs btn-default" ng-click="delete(node)"><span class="glyphicon glyphicon-trash" title='{{ "delete_group" | translate }}'></span></a>
                        <a ng-show="canEdit" class="btn btn-tree-action btn-xs btn-default" ng-click="editMembers(node)"><span class="ti-user" title='{{ "edit_members" | translate }}'></span></a>
                        <a ng-show="canAdmin" class="btn btn-tree-action btn-xs btn-default" ng-click="editPermissions(node)"><span class="ti-key" title='{{ "edit_permission" | translate }}'></span></a>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>