﻿<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span translate="Members"></span></strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">

                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a ng-click="add()">
                                            <span class="glyphicon glyphicon-plus"></span> {{ 'add_member' | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row">
                
                <div class="col-md-12" ng-show="members.length > 0">
                    <table class="table table-hover selectable">
                        <thead>
                            <tr>
                                <th>{{ 'last_name' | translate }}</th>
                                <th>{{ 'first_name' | translate }}</th>
                                <th>{{ 'email_address' | translate }}</th>
                                <th style="width: 50px;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in members | orderBy:'lastName'">
                                <td ng-click="select(user)" ng-class="{'selected': user.id == selectedUser.id}">
                                    <span ng-bind="user.lastName"></span>
                                </td>
                                <td ng-click="select(user)" ng-class="{'selected': user.id == selectedUser.id}">
                                    <span ng-bind="user.firstName"></span>
                                </td>
                                <td ng-click="select(user)" ng-class="{'selected': user.id == selectedUser.id}">
                                    <span ng-bind="user.email"></span>
                                </td>
                                <td ng-click="select(user)" ng-class="{'selected': user.id == selectedUser.id}">
                                    <a class="btn btn-tree-action btn-xs btn-default" click-and-wait="remove(user)"><span class="glyphicon glyphicon-trash" title="{{ 'remove_member' | translate }}"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </section>

</div>