﻿<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span translate="Permissions"></span></strong></div>
        <div class="panel-body">
            <div class="row">

                <div class="col-md-12" ng-show="permissions.length > 0">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{ 'module' | translate }}</th>
                                <th><span title="{{ 'permission_none' | translate }}" class="glyphicon glyphicon-eye-close"></span></th>
                                <th><span title="{{ 'permission_see' | translate }}" class="glyphicon glyphicon-eye-open"></span></th>
                                <th><span title="{{ 'permission_change' | translate }}" class="glyphicon glyphicon-pencil"></span></th>
                                <th><span title="{{ 'permission_everything' | translate }}" class="glyphicon glyphicon-fire"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="permission in permissions">
                                <td><span ng-bind="permission.moduleName"></span></td>
                                <td><input title="{{ 'permission_none_description' | translate:permission }}" type="radio" ng-model="permission.permission" ng-value="p0" /></td>
                                <td><input title="{{ 'permission_see_description' | translate:permission }}" type="radio" ng-model="permission.permission" ng-value="p1" /></td>
                                <td><input title="{{ 'permission_change_description' | translate:permission }}" type="radio" ng-disabled="!permission.canEdit" ng-model="permission.permission" ng-value="p2" /></td>
                                <td><input title="{{ 'permission_everything_description' | translate:permission }}" type="radio" ng-disabled="!permission.canAdmin" ng-model="permission.permission" ng-value="p3" /></td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </section> 
</div>