﻿<div class="page">
    
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-th">
                </span>
                {{user.name}}
            </strong>
        </div>
        <div class="panel-body">
            
            <div class="media">
                <div class="media-body">
                    <ul class="list-unstyled list-info">
                        <li>
                            <span class="icon glyphicon glyphicon-user"></span>
                            <label>{{ 'name' | translate }}</label>
                            {{user.name}}
                        </li>
                        <li>
                            <span class="icon glyphicon glyphicon-envelope"></span>
                            <label>{{ 'email_address' | translate }}</label>
                            {{user.email}}
                        </li>
                        <li ng-repeat="group in user.groups">
                            <i class="icon fa fa-users"></i>
                            <label>{{ "Group" | translate }}</label>
                            {{group}}
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span translate="Events"></span></strong></div>
        <div class="panel-body">

            <div class="ui-timline-container">
                <section class="ui-timeline">

                    <div infinite-scroll='nextPage()' infinite-scroll-disabled='isBusy' infinite-scroll-distance='1'>
                        <article class="tl-item" ng-class="{alt: $odd}" ng-repeat="event in events">
                            <div class="tl-body">
                                <div class="tl-entry">
                                    <div class="tl-time" am-time-ago="event.date" title="{{event.date | amCalendar}}"></div>
                                    <div class="tl-icon btn-icon-round btn-icon btn-icon-thin">
                                        <img ng-src="//www.gravatar.com/avatar/{{ event.user.emailHash }}?s=35&d=mm" alt="" class="img-circle" />
                                    </div>
                                    <div class="tl-content">
                                        <h4 class="tl-tile text-primary"><a ng-href="#/system/eventlog/{{event.aggregateType}}/{{event.aggregateId}}">{{event.type}}</a></h4>
                                        <p ng-bind-html="event.description"></p>
                                        <p>- {{event.user.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                </section>

                <div style="text-align: center;">
                    <div ng-show='isBusy' style="display: inline-block;">
                        <div class="alert alert-warning" role="alert">
                            <i class="fa fa-spinner fa-pulse"></i> <strong>{{ 'loading_data' | translate }}&hellip;</strong>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section> 

</div>