﻿<div class="page">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span translate="Users"></span></strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">

                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li ng-if="canEdit">
                                        <a ng-click="create()">
                                            <span class="glyphicon glyphicon-plus"></span> {{ "create_user" | translate }}
                                        </a>
                                    </li>
                                </ul>
                                <form class="navbar-form navbar-right" role="search">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                        <input type="text" ng-model="searchText" class="form-control" placeholder="{{ 'search' | translate }}">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-show="users.length > 0">
                    <table class="table table-hover selectable">
                        <thead>
                            <tr>
                                <th>{{ "last_name" | translate }}</th>
                                <th>{{ "first_name" | translate }}</th>
                                <th>{{ "email_address" | translate }}</th>
                                <th>{{ "recent_activity" | translate }}</th>
                                <th style="width: 170px;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users | orderBy:'lastName' | filter:searchText">
                                <td ng-click="select(user)" ng-class="{'selected': user.id == selectedUser.id}">
                                    <span ng-bind-html="user.lastName | highlight:searchText:false"></span>
                                    <i ng-if="user.isSysadmin" class="fa fa-shield" title="{{ 'user_is_sysadmin' | translate }}"></i>
                                    <i ng-if="user.isLocked" class="fa fa-lock" title="{{ 'user_is_locked' | translate }}"></i>
                                </td>
                                <td ng-click="select(user)" ng-class="{'selected': user.id == selectedUser.id}">
                                    <span ng-bind-html="user.firstName | highlight:searchText:false"></span>
                                </td>
                                <td ng-click="select(user)" ng-class="{'selected': user.id == selectedUser.id}">
                                    <span ng-bind-html="user.email | highlight:searchText:false"></span>
                                </td>
                                <td ng-click="select(user)" ng-class="{'selected': user.id == selectedUser.id}">
                                    <span am-time-ago="user.recentActivity"></span>
                                </td>
                                <td ng-click="select(user)" ng-class="{'selected': user.id == selectedUser.id}">
                                    <a class="btn btn-tree-action btn-xs btn-default" ng-click="show(user)"><span class="glyphicon glyphicon-eye-open" title="{{ 'see_user' | translate }}"></span></a>
                                    <a ng-show="canEdit" class="btn btn-tree-action btn-xs btn-default" ng-click="edit(user)"><span class="glyphicon glyphicon-pencil" title="{{ 'edit_user' | translate }}"></span></a>
                                    <a ng-show="currentUser.id != user.id && canAdmin && (currentUser.isSysadmin || !user.isSysadmin)" class="btn btn-tree-action btn-xs btn-default" ng-click="delete(user)"><span class="glyphicon glyphicon-trash" title="{{ 'delete_user' | translate }}"></span></a>
                                    <a ng-show="currentUser.id != user.id && currentUser.isSysadmin && !user.isSysadmin" class="btn btn-tree-action btn-xs btn-default" click-and-wait="makeSysadmin(user)"><i class="fa fa-shield" title="{{ 'make_sysadmin' | translate}}"></i></a>
                                    <a ng-show="currentUser.id != user.id && currentUser.isSysadmin && user.isSysadmin" class="btn btn-tree-action btn-xs btn-default" click-and-wait="makeNotSysadmin(user)"><i class="fa fa-shield" title="{{ 'make_not_sysadmin' | translate}}"></i></a>
                                    <a ng-if="currentUser.id != user.id && !user.isLocked && canAdmin && (currentUser.isSysadmin || !user.isSysadmin)" class="btn btn-tree-action btn-xs btn-default" click-and-wait="lock(user)"><i class="fa fa-lock" title="{{ 'lock_user' | translate }}"></i></a>
                                    <a ng-if="currentUser.id != user.id && user.isLocked && canAdmin && (currentUser.isSysadmin || !user.isSysadmin)" class="btn btn-tree-action btn-xs btn-default" click-and-wait="unlock(user)"><i class="fa fa-unlock" title="{{ 'unlock_user' | translate }}"></i></a>
                                    <a ng-if="currentUser.id != user.id && user.isTotp && currentUser.isSysadmin" class="btn btn-tree-action btn-xs btn-default" click-and-wait="disable2fa(user)"><i class="glyphicon glyphicon-time" title="{{ 'remove_2fa' | translate }} "></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section> 

</div>