﻿<div class="modal-header">
    <h3 class="modal-title">{{ 'change_page_template_image' | translate }}</h3>
</div>
<div class="modal-body">
    <fieldset>
        <div class="form-group">
            <label>{{ 'image' | translate }}</label>
            <div class="input-group">
                <input type="text" ng-model="scope.file" placeholder="{{ 'select_file' | translate }}" typeahead="file as file.fullname for file in getFiles($viewValue)" typeahead-loading="loadingFiles" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="browseFile()" type="button">{{ 'browse' | translate }}&hellip;</button>
                </span>
            </div>
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ 'ok' | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ 'cancel' | translate }}</button>
</div>