﻿<div class="modal-header">
    <h3 class="modal-title">{{ "create_page_template" | translate }}</h3>
</div>
<div class="modal-body">
    <fieldset>
        <div class="form-group">
            <label>{{ "name" | translate }}</label>
            <input type="text" class="form-control" ng-model="scope.name" />
        </div>
        <div class="form-group">
            <label>{{ "content_type" | translate }}</label>
            <ui-select ng-model="scope.contentType" theme="bootstrap">
                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="ct in contentTypes | filter: $select.search | orderBy:'name'">
                    <span ng-bind-html="ct.name | highlight: $select.search"></span> <small ng-bind-html="ct.contentType | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select>
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ "ok" | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ "cancel" | translate }}</button>
</div>