﻿<div class="page" ng-controller="PageTemplateController">
    <div class="panel panel-default">

        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-th"></span> {{template.name}} (Nr. {{template.publicId}})</strong>
        </div>
        <div class="panel-body">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-12">
                    <fieldset>
                        <div class="form-group">
                            <label for="name">{{ 'name' | translate }}</label>
                            <input type="text" id="name" class="form-control" ng-model="template.name" readonly ng-click="editName()" />
                        </div>
                        <div class="form-group">
                            <label for="contentType">{{ 'content_type' | translate }}</label>
                            <input type="text" id="contentType" class="form-control" ng-model="contentTypeName" readonly ng-click="editContentType()" />
                        </div>
                        <div class="form-group">
                            <label for="image">{{ 'image' | translate }}</label>
                            <input type="text" id="image" class="form-control" ng-model="fileName" readonly ng-click="editImage()" />
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-th"></span> {{ 'template' | translate }}</strong>
        </div>
        <div class="panel-body">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" click-and-wait="saveTemplate()">
                        <span class="glyphicon glyphicon-floppy-disk"></span> {{ 'save' | translate }}
                    </button>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-12">

                    <textarea ui-codemirror="codemirrorOptions" ng-model="template.template"></textarea>

                </div>
            </div>
        </div>
    </div>
</div>