﻿<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span translate="Page templates"></span></strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">

                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li ng-if="canEdit">
                                        <a ng-click="create()">
                                            <span class="glyphicon glyphicon-plus"></span> {{ 'create_page_template' | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row" ng-if="templates && templates.length > 0">

                <div class="col-md-12">

                    <div ui-tree data-drag-enabled="false">
                        <ol ui-tree-nodes ng-model="templates">
                            <li ui-tree-node ng-repeat="node in templates | orderBy:'name'">
                                <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'selected': node.id == selectedTemplate.id}">
                                    <a class="btn btn-xs" data-nodrag ng-if="!node.isShared">
                                        <span class="ti-layout"></span>
                                    </a>
                                    <a class="btn btn-xs" data-nodrag ng-if="node.isShared">
                                        <i class="fa fa-link"></i>
                                    </a>
                                    <span data-nodrag ng-click="select(node)" style="cursor:pointer;">
                                        {{node.name}} (Nr. {{node.publicId}}) <small ng-bind="node.contentType"></small>
                                    </span>
                                    <i data-nodrag ng-if="node.shared && node.shared.length > 0 && !node.isShared " class="fa fa-link" title="{{ getNames(node.shared) }}" style="cursor:pointer;"></i>
                                    <a ng-show="canEdit && !node.isShared" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="edit(node)">
                                        <span class="glyphicon glyphicon-pencil" title="{{ 'change_page_template' | translate }}"></span>
                                    </a>
                                    <a ng-show="canEdit && !node.isShared" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="rename(node)">
                                        <span class="glyphicon glyphicon-font" title="{{ 'rename_page_template' | translate }}"></span>
                                    </a>
                                    <a ng-show="canAdmin && !node.isShared" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="shareTemplate(node)">
                                        <i class="fa fa-link" title='{{ "share_page_template" | translate }}'></i>
                                    </a>
                                    <a ng-show="canAdmin && !node.isShared && node.shared && node.shared.length > 0" class="btn btn-tree-action btn-xs btn-default" data-nodrag click-and-wait="donotshareTemplate(node)">
                                        <i class="fa fa-chain-broken" title="{{ 'do_not_share_page_template' | translate}}"></i>
                                    </a>
                                    <a ng-show="canAdmin && !node.isShared" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="delete(node)">
                                        <span class="glyphicon glyphicon-trash" title="{{ 'delete_page_template' | translate }}"></span>
                                    </a>
                                </div>
                            </li>
                        </ol>
                    </div>

                </div>

            </div>
        </div>
    </section>

</div>