﻿<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> {{website.name}} (Nr. {{website.nr}})</strong></div>
        <div class="panel-body">
            
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">

                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a ng-click="addDomain()">
                                            <span class="glyphicon glyphicon-plus"></span> {{ 'add_domain' | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" ng-show="website.domains.length">

                    <div ui-tree data-drag-enabled="false">
                        <ol ui-tree-nodes ng-model="website.domains">
                            <li ui-tree-node ng-repeat="node in website.domains">
                                <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'selected': node.host === selectedHost}">
                                    <a class="btn btn-xs" data-nodrag ng-click="selectHost(node)">
                                        <span class="glyphicon" ng-class="{'glyphicon-star-empty': !node.isDefault, 'glyphicon-star': node.isDefault}"></span>
                                    </a>
                                    <span data-nodrag ng-click="selectHost(node)" style="cursor:pointer;">
                                        {{node.host}}
                                    </span>
                                    <a class="btn btn-tree-action btn-xs btn-default" data-nodrag click-and-wait="setDefault(node)" ng-hide="node.isDefault"><span class="glyphicon glyphicon-star" title="{{ 'set_domain_as_default' | translate }}"></span></a>
                                    <a class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="renameDomain(node)"><span class="glyphicon glyphicon-font" title="{{ 'rename_domain' | translate }}"></span></a>
                                    <a class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="deleteDomain(node)"><span class="glyphicon glyphicon-trash" title="{{ 'delete_domain' | translate }}"></span></a>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>
    </section> 

</div>