﻿<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span translate="Websites"></span></strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">

                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li ng-if="canEdit">
                                        <a ng-click="createWebsite()">
                                            <span class="glyphicon glyphicon-plus"></span> {{ 'create_website' | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row">
                
                <div class="col-md-12">
                    
                    <div ui-tree data-drag-enabled="false" ng-show="websites.length > 0">
                        <ol ui-tree-nodes ng-model="websites">
                            <li ui-tree-node ng-repeat="node in websites | orderBy:'name'">
                                <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'selected': node.id == selectedWebsite.id}">
                                    <a class="btn btn-xs" data-nodrag ng-click="selectWebsite(node)">
                                        <span class="glyphicon glyphicon-globe"></span>
                                    </a>
                                    <span data-nodrag ng-click="selectWebsite(node)" style="cursor:pointer;">
                                        {{node.name}} (Nr. {{node.nr}})
                                    </span>
                                    <a ng-show="canEdit" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="editWebsite(node)"><span class="glyphicon glyphicon-pencil" title="{{ 'edit_website' | translate }}"></span></a>
                                    <a ng-show="canEdit" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="renameWebsite(node)"><span class="glyphicon glyphicon-font" title="{{ 'rename_website' | translate }}"></span></a>
                                    <a ng-show="canAdmin" class="btn btn-tree-action btn-xs btn-default" data-nodrag ng-click="deleteWebsite(node)"><span class="glyphicon glyphicon-trash" title="{{ 'delete_website' | translate }}"></span></a>
                                </div>
                            </li>
                        </ol>
                    </div>

                </div>

            </div>
        </div>
    </section> 

</div>